.usa-button {
  margin: 0 20px 20px 0;
}

button,
a {
  svg {
    margin-right: 5px;
  }
}

button.pdf-link,
button.link {
  padding: 0;
  margin: 0;
  background: none;
  color: $color-blue;
  cursor: pointer;
  font-weight: normal;
  text-align: left;
  text-decoration: underline;
  svg {
    margin-right: 5px;
  }
  &:active,
  &:hover {
    border: none;
    background: none;
    color: $color-primary-darker;
    text-decoration: underline;
  }
}

button.pdf-link:hover {
  color: $color-blue;
}

button.tab-link {
  padding: 0;
  margin: 0;
  background: none;
  color: $color-base;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
}

button.text-style {
  padding: 0;
  margin: 0;
  background: none;
  color: $color-blue;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;

  &:hover,
  &:active {
    background: inherit;
    background-color: transparent;
    color: inherit;
  }
  &.heading-1 {
    svg {
      margin-right: 12px;
    }
    color: $color-black;
    font-weight: $font-bold;
    text-align: left;
  }
}

.recall-button-box {
  padding: 2px;
  border: 1px solid $color-gold;
  margin-right: 2px;
  margin-bottom: 4px;
  float: right;
  font-family: $font-serif;
  svg {
    margin: 0 2rem;
    color: $color-gold;
  }
  button {
    margin-left: 2rem;
  }
}

.serve-to-irs {
  margin: 0 0 26px 0;
  float: right;
}

.button-container {
  margin-top: 20px;
}

.new-case {
  margin: 0;
  float: right;
}

.button-icon {
  border: none;
  background: transparent;
}

.sign-out {
  width: 17px;
  padding: 4px 20px 4px 4px;
  margin: 4px;
}
