.usa-button {
  margin: 0 20px 20px 0;
}

button {
  svg {
    margin-right: 8px;
  }
}

button.pdf-link,
button.link {
  padding: 0;
  margin: 0;
  background: none;
  color: $color-blue;
  cursor: pointer;
  font-weight: normal;
  text-align: left;
  text-decoration: underline;
}

button.pdf-link:hover,
button.link {
  color: $color-blue;
}

button.tab-link {
  padding: 0;
  margin: 0;
  background: none;
  color: $color-base;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
}

button.text-style {
  padding: 0;
  margin: 0;
  background: none;
  color: $color-blue;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;

  &:hover,
  &:active {
    background: inherit;
    color: inherit;
  }
}

.DocumentDetail .usa-width-one-half .recall-button-box {
  padding: 2px;
  margin-right: 2px;
  border: 1px solid $color-gold;
  float: right;
  font-family: $font-serif;
  svg {
    margin: 0 2rem;
    color: $color-gold;
  }
  button {
    margin-left: 2rem;
  }
}
.serve-to-irs {
  float: right;
}

#file-a-petition .usa-button-active:disabled {
  background-color: $color-primary-darkest;
}
