.usa-button {
  &:not(.usa-button--unstyled) {
    min-width: 132px;
  }

  &.margin-right-0 {
    margin-right: 0;
  }

  .svg-inline--fa {
    margin-right: 5px;
  }

  &.float-right {
    text-align: right;
  }

  &.mobile-sort-docket-button.usa-button--unstyled {
    margin-bottom: 12px;
    color: color($theme-color-base-darkest);
    text-decoration: none;

    svg {
      margin-left: 5px;
      color: color($theme-color-primary);
    }
  }
}

.button-switch-box {
  font-size: 14px;
  font-weight: $font-semibold;

  svg {
    margin-right: 5px;
  }
}

.recall-button-box {
  padding: 8px 10px;
  border: 1px solid color($theme-color-warning);
  margin-top: -17px;
  margin-bottom: 20px;
  float: left;
  font-family: $font-serif;
  svg {
    color: color($theme-color-warning);
  }

  .batched-message {
    margin: 17px 31px 19px 14px;
    font-size: 20px;
    line-height: 34px;
  }

  .recall-petition {
    min-width: 100px;
    margin: 0;
  }
}

.serve-to-irs {
  margin-bottom: 20px;
}

.button-box-container {
  margin-top: 40px;
}

#init-file-petition {
  //float: left;
  //text-align: left;
  margin-right: 0;
}
