.usa-button {
  min-width: 132px;
  margin: 0 20px 20px 0;

  &.larger-icon .svg-inline--fa {
    margin-top: -2px;
    margin-right: 5px;
    font-size: 20px;
    vertical-align: middle;
  }

  &.float-right {
    text-align: right;
  }

  &.mobile-sort-docket-button.usa-button--unstyled {
    margin-bottom: 12px;
    color: color($theme-color-base-darkest);
    text-decoration: none;

    svg {
      margin-left: 5px;
      color: color($theme-color-primary);
    }
  }
}

.button-switch-box {
  font-size: 14px;
  font-weight: $font-semibold;

  svg {
    margin-right: 5px;
  }
}
