@use '../uswds' as *;
@use '../variables' as *;

button:disabled {
  cursor: default;
}

.usa-button {
  &.red-warning {
    &:not(.usa-button--unstyled) {
      box-shadow: 0 0 0 2px color($theme-color-secondary-dark);

      &:hover {
        box-shadow: 0 0 0 2px color($theme-color-secondary-vivid);
        color: color($theme-color-secondary-vivid);
      }
    }

    color: color($theme-color-secondary-dark);

    &:hover {
      color: color($theme-color-secondary-vivid);
    }
  }

  &:not(.usa-button--unstyled, .scroll-to-top) {
    min-width: 132px;
  }

  .width-auto {
    width: auto;
  }

  .svg-inline--fa:not(.fa-chevron-up) {
    margin-right: 10px;

    &.fa-1x {
      font-size: 14.5px;
    }
  }

  &.float-right {
    text-align: right;
  }

  &.mobile-sort-docket-button.usa-button--unstyled {
    color: color($theme-color-base-darkest);
    text-decoration: none;

    svg {
      margin-left: 5px;
      color: color($theme-color-primary);
    }
  }

  &.usa-button--unstyled {
    padding: 2px;

    &.no-underline {
      text-decoration: none;
    }

    &:disabled {
      color: #c9c9c9;
    }

    /* little screens */
    @media only screen and (max-width: $medium-screen) {
      line-height: 1.4em;
    }
  }

  &.ustc-button--unstyled {
    padding: 0.75rem 0;
    line-height: normal;
    text-align: center;

    &.padding-top-0 {
      padding-top: 0;
    }
  }

  &.ustc-button--mobile-inline {
    width: auto;
  }

  &.text-left {
    text-align: left;
  }

  &.padding-0 {
    padding: 0;
  }

  &.margin-0 {
    margin: 0;
  }

  &.margin-right-0 {
    margin-right: 0;
  }

  @media only screen and (min-width: $medium-screen) {
    &.ustc-button--unstyled-with-left-icon {
      width: 305px;
    }
  }

  &.usa-button--outline {
    background-color: $color-white;
  }
}

table.search-results .ustc-button--unstyled {
  text-align: left;
}

table.ustc-table .ustc-button--unstyled {
  text-align: left;
}

.button-switch-box {
  font-family: $font-source-sans;
  font-size: 17px;
  font-weight: $font-normal;

  svg {
    margin-right: 5px;
  }

  &.usa-button--unstyled:visited {
    color: $color-white;
  }

  &.usa-button--unstyled:hover {
    color: $color-primary-alt-lightest;
  }
}

.recall-button-box {
  padding: 8px 10px;
  border: 1px solid color($theme-color-warning);
  margin-top: -17px;
  margin-bottom: 20px;
  float: left;
  font-family: $font-serif;

  svg {
    color: color($theme-color-warning);
  }

  .batched-message {
    margin: 17px 31px 19px 14px;
    font-size: 20px;
    line-height: 34px;
  }

  .recall-petition {
    min-width: 100px;
    margin: 0;
  }
}

.serve-to-irs {
  margin-bottom: 20px;
}

.button-icon {
  border: none;
  background-color: rgb(0 0 0 / 0%);
}

.add-deficiency-statistics-form .calculate-penalties {
  position: absolute;
  top: 50px;
  left: 180px;
}

.attachment-viewer-button {
  display: block;
  width: 100%;
  padding: 15px 0 !important;
  border-bottom: 1px solid color($theme-color-base-lighter);
  color: color($theme-color-base-darkest);
  text-align: left;
  text-decoration: none;

  &.active,
  &:hover {
    border-bottom: 1px solid color($theme-color-base-lighter);
    background-color: color($theme-color-base-lightest);
    box-shadow: 10px 0 0 0 color($theme-color-primary) inset;
    color: color($theme-color-base-darkest);
    text-decoration: none;

    &:disabled {
      border-bottom: 1px solid color($theme-color-base-lighter);
      text-decoration: none;
    }
  }

  &:disabled {
    text-decoration: none;
  }
}

.action-button {
  font-weight: $font-semibold;
  text-decoration: none;

  svg {
    margin-right: 3px;
  }
}

.message-document-actions {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  background-color: color($theme-color-primary);

  button,
  a,
  a:visited {
    height: 40px;
    border-left: 1px solid $color-white;
    margin-top: 5px;
    color: $color-white;

    &.usa-button--unstyled {
      padding-left: 20px;
    }

    &:hover {
      color: $color-primary-alt;
    }
  }
}

#tab-tracked-items.tracked-items-padding-right {
  padding-right: 10px;
}

.scroll-to-top {
  position: fixed;
  z-index: 2001;
  right: 40px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  padding: 0;
  line-height: 40px;

  .fa-chevron-up {
    height: 11px;
    vertical-align: -0.03em;
  }
}

.bounce-out-down {
  animation-name: bounce-out-down;
}

.bounce-in-up {
  display: block;
  animation-name: bounce-in-up;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounce-out-down {
  20% {
    transform: translate3d(0, 10px, 0) scaleY(0.985);
  }

  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 2000px, 0) scaleY(3);
  }
}

@keyframes bounce-in-up {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(-30px);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}
