.card {
  border: 1px solid $color-gray-light;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  p {
    margin-bottom: 15px;
  }

  .content-wrapper {
    padding: 10px;
  }

  .actions-wrapper {
    background-color: $color-primary-alt-lightest;
  }

  .toggle-button-wrapper {
    button {
      padding: 10px 15px;
      margin: 0 2px 10px 0;
      border-radius: 20px;
      font-size: 14px;
      font-weight: $font-semibold;
      text-decoration: underline;

      svg {
        margin-right: 5px;
      }
    }

    button.unselected {
      background-color: transparent;
      color: $color-blue;
    }
  }

  // .history-message {
  //   margin-bottom: 30px;
  // }

  .usa-button {
    margin-bottom: 0;
  }
}
