hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 20px 0;
  border: 0;
  border-top: 1px solid $color-gray-light;
}

.case-status-label {
  font-size: 1.4rem;
  font-weight: $font-bold;
}

.breadcrumb {
  margin-bottom: 3rem;
}

.label {
  display: block;
  margin-bottom: 0;
  font-weight: $font-semibold;
}

.label-inline {
  display: inline-block;
  margin: 0 0.8rem 0 0;
  font-weight: $font-semibold;
}

.forward-form {
  textarea {
    height: 60px;
  }
}

.flagged-name {
  color: $color-red-dark;
}

#paygov-link-container {
  padding-bottom: 2rem;
  text-align: center;
}

iframe {
  width: 100%;
  height: 1000px;
  border: 1px solid $color-gray-lightest;
}

.party-information p {
  margin-bottom: 0.7rem;
}

.address-line {
  display: block;
}

.float-right {
  float: right;
}

.subsection {
  margin-bottom: 30px;
}

.grey-container {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $color-gray-lightest;

  *:last-child {
    margin-bottom: 0;
  }
}

.blue-container {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $color-primary-alt-lightest;

  *:last-child {
    margin-bottom: 0;
  }
}

.alert-blank-message {
  height: 24px;
}

.required-statement {
  font-weight: $font-semibold;
}

.usa-accordion.start-a-case {
  margin-bottom: 2rem;

  .usa-accordion-button {
    display: inline-block;
    padding-left: 0;
    border: 0;
    background: none;
    color: $color-primary;
    font-weight: inherit;

    .svg-inline--fa {
      margin-left: 0.5rem;
    }
  }

  .usa-accordion-button:hover {
    color: $color-primary-darker;
  }

  .usa-accordion-button:focus {
    outline: none;
  }

  .usa-accordion-content {
    border: 1px solid $color-primary;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15),
      inset 0 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.create-case-step {
  position: relative;
  height: 100%;
  padding-left: 40px;

  .step-count {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: $color-primary-darker;
    border-radius: 30px;
    color: $color-white;
    font-size: 20px;
    font-weight: $font-semibold;
    line-height: 30px;
    text-align: center;
  }
}

.small-case-features {
  h4 {
    color: $color-cool-blue;
  }

  .warning {
    .fa-exclamation-triangle {
      margin-right: 0.5rem;
      color: $color-gold;
    }

    &.feature {
      box-shadow: inset 0 -10px 0 $color-gold;
    }
  }

  .feature {
    min-height: 20rem;
    padding: 20px 18px 2px;
    border: 1px solid $color-gray-lighter;
    box-shadow: inset 0 -10px 0 $color-primary-alt-dark;
  }
}

.alert-dark {
  padding: 10px;
  border-left: 5px solid $color-primary-alt-dark;
  background: $color-primary-alt-darkest;
  color: $color-white;

  svg {
    margin-right: 5px;
  }
}

.mini-success {
  color: $color-green;

  svg {
    margin-right: 5px;
  }
}

.before-starting-case {
  [role='listitem'] {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $color-gray-lightest;
  }
  [role='listitem'],
  .button-box-container {
    min-height: 150px;
    clear: left;
  }

  .fa-before {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 150px;
    color: $color-primary-alt;

    svg {
      width: 100px;
      height: 100px;
      padding: 20px;
      border: 3px solid $color-primary-alt;
      border-radius: 55px;
    }
  }

  .fa-before.stacked {
    position: absolute;
    top: 35px;
    .fa-layers .slash-white {
      padding-top: 30px;
      border: none;
      color: white;
    }
  }

  .before-explanation {
    position: relative;
    top: 0;
    left: 150px;
    display: inline-block;

    .before-label {
      display: block;
      margin-bottom: 14px;
      font-family: $font-serif;
      font-size: 20px;
      font-weight: $font-bold;
    }
  }
}
