h1.captioned {
  margin-bottom: 0;
}

.spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  background-image: url('./images/spinner.svg');
  background-size: contain;
}

.usa-header {
  margin-bottom: 3rem;
}

.case-status-label {
  font-size: 1.4rem;
  font-weight: bold;
}

.breadcrumb {
  margin-bottom: 3rem;
}

.fa-caret-left {
  margin-right: 0.5rem;
  color: $color-blue;
}

.action-flag {
  color: $color-red;
}

.fa-cloud-upload-alt {
  margin-right: 1rem;
}

.label {
  margin-bottom: 0;
  font-weight: $font-bold;
}

button.tab-link {
  padding: 0;
  margin: 0;
  background: none;
  color: $color-base;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
}

button.pdf-link,
button.link {
  padding: 0;
  margin: 0;
  background: none;
  color: $color-blue;
  cursor: pointer;
  font-weight: normal;
  text-align: left;
  text-decoration: underline;
}

button.pdf-link:hover,
button.link {
  color: $color-blue;
}

h1[tabIndex='-1']:focus {
  outline: none;
}

.forward-form {
  textarea {
    height: 60px;
  }
}

.flagged-name {
  color: $color-red-dark;
}

.work-queue-tab-container {
  border: 1px solid $color-gray-light;
  background-color: $color-gray-lightest;
}

.work-queue-tab {
  display: inline-block;
  padding: 1rem 2rem;
  border-right: 1px solid $color-gray-light;
  margin: 0;
  background-color: $color-white;
  box-shadow: 0 2px 0 $color-white;
}

table.work-queue {
  td,
  th {
    border: none;
  }

  tbody tr {
    border-top: 1px solid $color-gray-light;
  }

  td {
    font-size: 1.4rem; // 14px
    label {
      margin: 0;
    }
  }

  thead th {
    background-color: $color-white;
    font-weight: 600;
  }

  .action-bar {
    background-color: $color-primary-alt-lightest;
    font-size: 1.7rem;

    label {
      display: inline-block;
      margin: 0;
    }

    select {
      display: inline-block;
      width: auto;
      margin: 0 1rem;
    }

    button {
      margin: 0;
    }

    .selected-count {
      margin-right: 3rem;
      font-weight: $font-bold;
    }
  }

  width: 100%;
  border-top: none;
  border-right: 1px solid $color-gray-light;
  border-bottom: 1px solid $color-gray-light;
  border-left: 1px solid $color-gray-light;
}

table.row-border-only {
  td {
    border: none;
  }

  tbody tr {
    border: 1px solid $color-gray-light;
  }
}

table.case-list thead th,
table.case-list thead td {
  background-color: $color-gray-light;
  color: $color-base;
}

table.case-list tbody tr:nth-child(even) td {
  background-color: $color-gray-lightest;
}

label.validated::after {
  display: inline-block;
  width: 1.8rem;
  height: 0.8rem;
  margin-right: -1.8rem;
  margin-left: 0.2rem;
  background-image: url('./images/correct.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  content: ' ';
}

input:focus::placeholder {
  color: transparent;
}

.fa-file-pdf {
  margin-right: 1rem;
}

#paygov-link-container {
  padding-bottom: 2rem;
  text-align: center;
}

.progress-container {
  max-width: 50rem;
  height: 2rem;
  border: 1px solid black;
  background-color: transparent;
  transition: all 2s;
}

.progress-bar {
  max-width: 100%;
  height: 100%;
  background-color: $color-primary-darkest;
  transition: all 2s;
}

.progress-indicator {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  .spinner {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 200px;
  }

  p {
    display: block;
    margin: auto;
    color: $color-white;
    font-size: 6rem;
    text-align: center;
  }
}

iframe {
  width: 100%;
  height: 60rem;
  border: 1px solid $color-gray-lightest;
}

.party-information p {
  margin-bottom: 0.7rem;
}

.horizontal-tabs {
  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    padding: 0;
    margin: 0 2rem 0 0;
    cursor: pointer;

    h2 {
      font-weight: 500;
    }
  }

  .active {
    border-bottom: 0.3rem $color-blue solid;
    cursor: default;
    font-weight: $font-bold;

    h2 {
      font-weight: 500;
    }
  }
}

.tab-content {
  padding: 2rem;
  border: 2px solid $color-gray-lightest;

  h3 {
    margin-bottom: 3rem;
  }
}

.address-line {
  display: block;
}

.float-right {
  float: right;
}

.subsection {
  margin-bottom: 2em;
}

.card {
  border: 1px solid $color-gray-lightest;
  box-shadow: 0.3rem 0.3rem 0.6rem $color-gray-light;
}

.card-body {
  padding: 2rem;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-1 {
  margin-bottom: 10px;
}

.font-large {
  font-size: 30px;
}

.font-medium {
  font-size: 24px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-2 {
  margin-right: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.toggles {
  padding-right: 4px;
  padding-left: 4px;
}

.toggle {
  padding-top: 5px;
  padding-bottom: 5px;
  color: $color-base;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  vertical-align: top;
}

.toggle:hover {
  background-color: $color-base;
  border-radius: 1rem;
  color: $color-white;
}

.toggle.selected {
  background-color: $color-base;
  border-radius: 1rem;
  color: $color-white;
}

.extra {
  background-color: $color-primary-alt-lightest;
}

.pt-1 {
  padding-top: 10px;
}

.pb-1 {
  padding-bottom: 10px;
}
