body.no-scroll {
  overflow: hidden;
  cursor: default;
  pointer-events: none;
  touch-action: none;
}

hr {
  z-index: 1;
  display: block;
  height: 1px;
  padding: 0;
  border: 0;
  border-top: 1px solid $color-gray-light;
  margin: 20px 0;
}

.mr-1 {
  margin-right: 10px;
}

.inline-block {
  display: inline-block;
}

.case-status-label {
  font-size: 1.4rem;
  font-weight: $font-bold;
}

.breadcrumb {
  margin-bottom: 3rem;
}

.float-left {
  margin-right: 20px;
  float: left;
}
.clear-both {
  clear: both;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: $font-semibold;
  line-height: 1;
}

.label-inline {
  display: inline-block;
  margin: 0 5px 0 0;
  font-weight: $font-semibold;
  line-height: 1;
}

.forward-form {
  textarea {
    height: 60px;
  }
}

.flagged-name {
  color: $color-red-dark;
}

#paygov-link-container {
  padding-bottom: 2rem;
  text-align: center;
}

iframe {
  width: 100%;
  height: 1000px;
  border: 1px solid $color-gray-lightest;
}

.link.case-link-bold {
  font-weight: $font-bold;
}

.case-list-header {
  margin-bottom: 20px;
}

.petitions-details {
  margin-bottom: 15px;
  @media only screen and (min-width: $medium-screen) {
    margin-bottom: 120px;
  }
}

.party-information {
  p {
    margin-bottom: 0.7rem;
  }
  @media only screen and (max-width: $medium-screen - 1px) {
    .usa-width-one-sixth + .usa-width-one-sixth {
      .label {
        margin-top: 20px;
      }
    }
  }
}

.address-line {
  display: block;
}

.float-right {
  float: right;
}

.subsection {
  margin-bottom: 30px;
}

select[disabled] {
  background-color: $color-gray-lightest;
}

.grey-container {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $color-gray-lightest;

  *:last-child {
    margin-bottom: 0;
  }
}

.gray-header {
  background-color: $color-gray-lightest;
}

.completed-card {
  margin-bottom: 20px;
  color: $color-gray;

  .completed-icon {
    padding-top: 2px;
    float: left;
  }

  .completed-content {
    padding-left: 22px;
  }

  p {
    margin-bottom: 0px;
  }

  .completed-message {
    margin-top: 5px;
  }
}

.blue-container {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $color-primary-alt-lightest;
  .ustc-form-group:last-of-type {
    margin: 0;
  }

  &.gray-background {
    background-color: $color-gray-lightest;
  }

  .push-right {
    margin-right: 0;
    float: right;
  }

  &.read-only-party-information {
    *:last-child {
      margin-bottom: 0;
    }
  }

  div.read-only-contact-information {
    margin-bottom: 20px;

    p {
      margin-bottom: 10px;
    }

    h4 {
      margin-top: 30px;
      margin-bottom: 15px;
    }
  }
}

@media only screen and (min-width: $medium-screen) {
  .push-right {
    margin-right: 0;
    float: right;
  }
}

.alert-blank-message {
  height: 24px;
}

.required-statement {
  font-weight: $font-semibold;
}

.usa-accordion.start-a-case,
.usa-accordion.document-category {
  margin-bottom: 2rem;

  .usa-accordion-button {
    display: inline-block;
    padding-left: 0;
    border: 0;
    background: none;
    color: $color-primary;
    font-weight: inherit;

    .svg-inline--fa {
      margin-left: 0.5rem;
    }
  }

  .usa-accordion-button:hover {
    color: $color-primary-darker;
  }

  .usa-accordion-button:focus {
    outline: none;
  }

  .usa-accordion-content {
    border: 1px solid $color-primary;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15),
      inset 0 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.create-case-step {
  position: relative;
  height: 100%;
  padding-left: 40px;

  .step-count {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: $color-primary-darker;
    border-radius: 30px;
    color: $color-white;
    font-size: 20px;
    font-weight: $font-semibold;
    line-height: 30px;
    text-align: center;
  }
}

.small-case-features,
.document-category-features {
  h4 {
    color: $color-base;
  }

  .warning {
    .fa-exclamation-triangle {
      margin-right: 0.5rem;
      color: $color-gold;
    }

    &.feature {
      box-shadow: inset 0 -10px 0 $color-gold;
    }
  }

  .feature {
    min-height: 20rem;
    padding: 20px 18px 2px;
    border: 1px solid $color-gray-lighter;
    box-shadow: inset 0 -10px 0 $color-primary-alt-dark;
  }

  .document-feature {
    min-height: 27rem;
    padding: 20px 18px 2px;
    border: 1px solid $color-gray-lighter;
    box-shadow: inset 0 -10px 0 $color-primary-alt-dark;

    ul {
      padding-left: 2rem;
    }
  }
}

.alert-dark {
  padding: 10px;
  border-left: 5px solid $color-primary-alt-dark;
  background: $color-primary-alt-darkest;
  color: $color-white;

  svg {
    margin-right: 5px;
  }
}

.alert-gold {
  max-width: 700px;
  padding: 10px;
  border-left: 5px solid $color-gold;
  background: $color-gold-lightest;
  color: $color-base;

  .usa-form-hint {
    margin: 0;
  }

  svg {
    margin-right: 5px;
  }

  &.add-bottom-margin {
    margin-bottom: 20px;
  }
}

.usa-label-uploading {
  padding: 0.3rem 0.7rem;
  margin-right: 0.5rem;
  background-color: #5b616b;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.fa-spinner {
  color: #5b616b;
}

.icon-column {
  width: 40px;
}

.mini-success {
  color: $color-green;

  svg {
    margin-right: 5px;
  }
}

.before-starting-case {
  [role='listitem'] {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  [role='listitem'],
  .button-box-container {
    min-height: 150px;
    clear: left;
  }

  .fa-before {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 3px solid $color-primary-alt;
    border-radius: 55px;
    color: $color-primary-alt;

    svg,
    .svg-wrapper {
      width: 100%;
      height: 100%;
      color: $color-primary-alt;
    }

    .svg-wrapper img.svg {
      width: 54px;
      height: 54px;
    }
  }

  .before-explanation {
    position: relative;
    top: 0;
    display: inline-block;
    padding-left: 150px;
    .before-label {
      display: block;
      margin-bottom: 14px;
      font-family: $font-serif;
      font-size: 20px;
      font-weight: $font-bold;
    }
  }
}

input.ustc-input-error,
select.ustc-input-error {
  border: 3px solid $color-red !important;
}

.tabs-and-buttons-wrapper {
  position: relative;
  width: 100%;
  height: 65px;
  .horizontal-tabs {
    position: absolute;
    bottom: 0;
  }
  .button-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

#case-detail-tabs {
  margin-bottom: 20px;
  > nav {
    li {
      width: percentage(1/3);
      button {
        width: 100%;
        padding: 1rem;
      }
    }
  }
  > .tabcontent {
    > h3 {
      padding-left: 20px;
    }

    .blue-container:last-child {
      margin-bottom: 0;
    }
  }
}

#case-detail-messages-tabs {
  > .tabcontent {
    padding: 15px;
  }
}

.ustc-horizontal-list * {
  display: inline-block;
}

#tabContent-completed,
#tabContent-inProgress {
  max-height: 931px;
  overflow-y: scroll;
}

.ustc-create-message-modal,
.forward-form {
  .usa-input-error input,
  .usa-input-error textarea,
  .usa-input-error select {
    width: calc(100% + 1.9rem);
    border: 3px solid #cd2026;
  }
}

textarea#case-caption {
  height: 6em;
}

.filed-by {
  display: inline-block;
  padding-top: 20px;
}

.header-with-link-button {
  display: inline-block;
  margin-right: 20px;

  + .link {
    width: auto;
  }
}

/* little screens */
@media only screen and (max-width: $medium-screen - 1px) {
  .header-with-link-button {
    max-width: 80%;
  }

  .tablet-full-width {
    width: 100%;
  }
}

.file-name {
  display: inline-block;
  margin: 0;
}

.beta {
  padding: 20px;
  background-color: $color-gold-lighter;
  font-weight: $font-bold;
  a {
    color: $color-black;
  }
}

.align-right {
  margin-right: 0;
}

.view-pdf-button svg {
  color: $color-white;
}

.unread {
  display: inline-block;
  min-width: 35px;
  background: $color-primary;
  border-radius: 20px;
  color: $color-white;
  font-weight: $font-bold;
  text-align: center;
}

#work-queue-title {
  display: inline-block;
  margin-right: 10px;
}

#save-and-finish {
  padding-right: 45px;
  padding-left: 45px;
}
header.usa-header {
  height: 115px;
  border-bottom: none;

  nav.usa-nav-primary {
    display: block;
    padding-top: 43px;
  }
}

nav.usa-nav {
  .usa-nav-close {
    width: auto;
    color: $color-white;
  }
  .usa-nav-primary {
    position: absolute;
    top: -9.75rem;
    left: 140px;

    a,
    :hover {
      padding: 0px;
      background: none;
      color: $color-primary;
    }

    .usa-nav__primary {
      li.active,
      li:hover {
        border-bottom: 2px solid $color-primary;
      }
    }
  }
  .usa-nav-secondary {
    margin-top: -24px;
  }

  .usa-nav-secondary-links li:not(:last-child)::after {
    content: '';
    padding-left: 0;
  }

  .user-dropdown {
    margin-top: -4px;
  }

  .button-account-login {
    background: none;
    color: $color-primary;
  }

  .mobile-account-nav {
  }

  &.mobile-menu {
    background: $color-cool-blue;

    .usa-nav-primary {
      position: inherit;
      margin-top: 10rem;
      margin-bottom: 3rem;
      padding-bottom: 10px;
      border-bottom: 1px solid #fff;

      .usa-nav__primary {
        li.active,
        li:hover {
          border: none;
        }
      }

      a {
        color: $color-white;
      }
      a:hover {
        text-decoration: underline;
      }
    }

    .usa-nav-secondary {
      li.usa-search {
        position: absolute;
        top: 8rem;

        button {
          background: $color-gray;
        }

        button:active {
          background: $color-primary-darker;
        }
      }
      li.user-dropdown {
        display: none;
      }
      a {
        color: $color-white;
        text-decoration: none;
      }
      a:active {
        text-decoration: underline;
      }
    }
    .button-account-login {
      background: none;
      color: $color-white;
    }
  }
}

.account-menu {
  &.closed {
    .account-menu-icon {
      color: $color-primary;
    }
    .button-container {
      background: none;
    }
  }
  &.open {
    .account-menu-icon {
      color: $color-white;

      &.caret {
        margin-right: 0;
      }
    }
    .account-button-container {
      background-color: $color-primary;

      button.button-account-menu {
        background: none;
        padding: 8px;
        margin: 0;
      }
    }
  }
  .account-menu-content {
    position: absolute;
    right: 30px;
    background-color: $color-primary;
    width: 109px;
    padding: 10px 0;

    ul li {
      display: block;
      text-align: right;
      margin-right: 8px;

      a {
        color: $color-white;
        font-size: 15px;
      }
    }
  }
}
