@use '../variables' as *;

.Dawson_heading_1 {
    font-family: $font-serif;
    font-size: 32px;
    font-weight: $font-normal;

    // color: Base-Darkest
    @media only screen and (max-width: $medium-screen) {
        font-size: 24px;
      }
}

.Dawson_heading_2 {
    font-family: $font-serif;
    font-size: 24px;
    font-weight: $font-normal;

    // color: Base-Darkest
    @media only screen and (max-width: $medium-screen) {
        font-size: 18px;
      }
}

.Dawson_heading_3 {
    font-family: $font-serif;
    font-size: 20px;
    font-weight: $font-normal;

    // color: Base-Darkest
    @media only screen and (max-width: $medium-screen) {
        font-size: 16px;
      }
}

.Dawson_body {
    font-family: $font-serif;
    font-size: 18px;
    font-weight: $font-normal;

    // color: Base-Darkest
    @media only screen and (max-width: $medium-screen) {
        font-size: 16px;
      }
}

.Dawson_body_secondary {
    font-family: $font-serif;
    font-size: 16px;
    font-weight: $font-normal;

    // color: Base-Darkest
    @media only screen and (max-width: $medium-screen) {
        font-size: 14px;
      }
}

.Dawson_field_label {
    font-family: $font-serif;
    font-size: 18px;
    font-weight: $font-normal;
    
    // color: Base-Darkest
    @media only screen and (max-width: $medium-screen) {
        font-size: 16px;
      }
}

