label {
  max-width: 100%;
  margin: 0 0 15px;
  font-size: 17px;
  font-weight: $font-semibold;
  line-height: 1.45em;
}

legend {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: $font-semibold;
}

input[type='file'] {
  height: auto;
}

input[type='file'],
input[type='number'],
input[type='text'],
textarea,
select {
  margin: 0 0 2rem;
}

input:focus::placeholder {
  color: transparent;
}

label.validated::after {
  display: inline-block;
  width: 1.8rem;
  height: 0.8rem;
  margin-right: -1.8rem;
  margin-left: 0.2rem;
  background-image: url('./images/correct.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  content: ' ';
}
