.usa-form-group,
.usa-fieldset {
  max-width: 30rem;
  margin-top: 0px;
  margin-bottom: 35px;
}

.usa-form-group--error {
  max-width: 31.25rem;
  margin-left: -1.25rem;
}

.ustc-time-of-day {
  display: flex;
}
.ustc-time-of-day--hour,
.ustc-time-of-day--minute {
  width: 3em;
  flex: 0 0 auto;
  margin-right: 1rem;
  margin-bottom: 0;
}
.ustc-time-of-day--am-pm {
  position: absolute;
  bottom: 0;
  width: 9em;
  margin-right: 1rem;
  margin-bottom: 0;
}

label.usa-label-display {
  margin: 0 0 5px;
}

.usa-label,
.usa-legend,
label,
legend {
  max-width: 100%;
  margin: 0 0 15px;
  font-size: 17px;
  font-weight: $font-semibold;
  line-height: 1.4em;

  .usa-hint {
    margin: 0;
  }
  p.usa-hint {
    display: block;
  }
  &.with-hint {
    margin-bottom: 2px;
  }

  &.usa-legend--text-normal {
    font-weight: $font-normal;
  }

  /* little screens */
  @media only screen and (max-width: $medium-screen) {
    line-height: 1.1em;
  }
}

input[type='email'],
input[type='number'],
input[type='tel'],
input[type='text'],
textarea,
select {
  margin: 0;
  &:hover:not(:disabled) {
    border: 1px solid color($theme-color-primary);
    box-shadow: inset 0 0 0 1px color($theme-color-primary);
    cursor: pointer;
  }

  &::placeholder {
    color: color($theme-color-base-dark);
    opacity: 1;
  }
}

.usa-error-message {
  padding: 0;
}

.usa-select {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  &:disabled {
    border-color: color($theme-color-base-light);
    background-color: color($theme-color-base-lighter);
    color: color($theme-color-base-light);
  }
}

.usa-checkbox__label,
.usa-radio__label {
  max-width: 700px;
  margin-bottom: 0;
  line-height: 24px;
  &::before {
    box-shadow: 0 0 0 1px color($theme-color-base);
  }
  &:hover::before {
    box-shadow: 0 0 0 2px color($theme-color-primary);
  }
  &.inline-block {
    display: inline-block;
  }
}

.usa-checkbox,
.usa-radio {
  margin-bottom: 15px;
  background: transparent;
  &:last-child {
    margin-bottom: 0;
  }
}

.usa-checkbox__input:disabled + .usa-checkbox__label {
  &::before {
    box-shadow: 0 0 0 1px color($theme-color-base-lighter);
  }
}

.usa-label:hover {
  + .usa-hint {
    + .usa-input:not([type='file']),
    + .usa-textarea,
    + .usa-select,
    + .usa-range {
      &:not(:disabled) {
        border: 1px solid color($theme-color-base);
        box-shadow: 0 0 0 0 transparent;
      }
    }
  }
  + .usa-input:not([type='file']),
  + .usa-textarea,
  + .usa-select,
  + .usa-range {
    &:not(:disabled) {
      border: 1px solid color($theme-color-base);
      box-shadow: 0 0 0 0 transparent;
    }
  }
}
.usa-input,
.usa-textarea,
.usa-select,
.usa-range {
  border: 1px solid color($theme-color-base);
}

input[type='file'] {
  height: auto;
  border: 0;
  margin: 0;
}

textarea.caption {
  width: 379px;
  height: 107px;
  margin-bottom: 5px;
}

select.case-status {
  width: 379px;
}

div.usa-radio.usa-radio__inline {
  display: inline;
  .usa-radio__label {
    padding-right: 2rem;
    padding-left: 0;

    &.smaller-padding-right {
      padding-right: 1rem;
    }
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input:focus::placeholder {
  color: transparent;
}

.ustc-vertical-option-list {
  padding: 0;
  margin: 0;
  li {
    display: block;
  }
}

div.ustc-hide-radio-button {
  padding-bottom: 10px;

  input {
    display: none;
  }
  label {
    color: color($theme-color-primary);
    text-decoration: underline;
  }
}

@media only screen and (min-width: $medium-screen) {
  .only-large-screens {
    display: block;
  }
  .only-small-screens {
    display: none;
  }
}

@media only screen and (max-width: $medium-screen - 1px) {
  .only-large-screens {
    display: none;
  }
  .only-small-screens {
    display: block;
  }
}

label.validated::after {
  display: inline-block;
  width: 1.8rem;
  height: 0.8rem;
  margin-right: -1.8rem;
  margin-left: 0.2rem;
  background-image: url('./images/correct.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  content: ' ';
}

.inline-input-year {
  display: inline-block;
  width: 80px;
  margin-right: 20px;
}

.inline-input-amount {
  display: inline-block;
  width: 240px;
  margin-right: 10px;
  vertical-align: top;

  label {
    padding-left: 1.5rem;
  }

  input {
    display: inline-block;
    max-width: 100px;
    margin-right: 5px;
    text-align: right;
  }

  button.usa-button--unstyled {
    display: inline-block;
    margin-left: 10px;
  }

  span {
    display: inline-block;
    margin-right: 5px;
  }
}

.ustc-form-group {
  margin-bottom: 20px;
}

.ustc-form-group-city {
  width: 20rem;
  clear: none;
  float: left;
}

.ustc-form-group-state {
  width: 12rem;
  clear: none;
  float: left;

  select {
    margin-top: 0;
  }
}

.document-detail-one-third .blue-container {
  padding: 0;
  #change-email-hint {
    display: none;
  }
}

.document-detail-one-third {
  max-height: 890px;
  overflow-y: auto;
  .phone-input {
    margin-bottom: 20px;
    clear: both;
  }
  .email-input {
    margin-bottom: 30px;
  }
  .ustc-form-group-city input,
  .ustc-form-group-state select {
    margin-bottom: 0;
  }
}

.order-checkbox {
  margin-top: 15px;
}

.usa-date-of-birth .usa-form-group {
  margin-bottom: 0;

  &.usa-form-group-month input {
    width: 51px;
  }
}

#orders-needed {
  margin-top: 40px;
}

.orders-needed {
  .usa-form-group {
    margin-bottom: 20px;
  }
}

.usa-form--large {
  @media only screen and (min-width: $medium-screen) {
    max-width: units('desktop');
  }
  .contact-group {
    input,
    select {
      max-width: units('mobile') + 5;
    }
    .grid-row.grid-gap.state-and-city {
      max-width: units('mobile') + 7;
    }
  }
}

.clear-both {
  clear: both;
}

.ustc-input-phone {
  width: 25rem;
}

.grid-container {
  &.ustc-secondary-question,
  .ustc-secondary-question {
    margin-top: 20px;

    fieldset,
    legend,
    label {
      max-width: 100%;
    }
  }
  &.add-bottom-margin {
    margin-bottom: 20px;
  }
}

label.ustc-upload-petition,
label.ustc-upload-stin,
label.ustc-upload-rpt,
label.ustc-upload-ods,
label.ustc-upload {
  .success-message {
    display: none;
    color: $color-green;
  }
  &.validated {
    &::after {
      display: none;
    }
    .success-message {
      display: inline-block;
    }
  }
}

.one-third-searchbox {
  /* big screen */
  @media only screen and (min-width: $medium-screen) {
    padding: 14px;
    margin: 10px;
    background-color: color($theme-color-base-lightest);
    button {
      min-width: 130px;
      margin-bottom: 5px;
    }
  }
  #docket-search-field {
    display: block;
    width: 150px;
  }

  /* small screen */
  @media only screen and (max-width: $medium-screen - 1px) {
    .search-caption {
      display: none;
    }

    .usa-input-group {
      border-left: 4px solid transparent;
    }
    button[type='submit'] {
      width: 45px;
      background-image: none;
    }
  }

  min-width: 200px;

  .usa-input-group {
    margin-bottom: 10px;
  }
}

.select-react-element {
  .select-react-element__control {
    box-sizing: border-box;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid color($theme-color-base);
    border-radius: 0;
    &:hover {
      border: 1px solid color($theme-color-primary);
      box-shadow: 0 0 0 1px color($theme-color-primary);
      cursor: pointer;
    }
    .select-react-element__value-container {
      &:focus {
        border: none;
      }
      .select-react-element__input input {
        border: none;
        margin-top: auto;
        margin-bottom: auto;
        box-shadow: none;
      }
    }
  }

  .select-react-element__control--menu-is-open {
    outline: 2px dotted color($theme-color-base-light) !important;
    outline-offset: 3px;
  }
}

.date-received,
.service-date {
  .usa-form-group {
    margin-bottom: 0px;
    input[type='number'] {
      margin-bottom: 5px;
    }
  }
}

.docket-entry-form {
  .service-date {
    margin-left: 30px;
  }
}

.complete-document-type-section {
  :last-child {
    margin-bottom: 0;
  }
}

.year-small {
  width: 80px;
}

.input-medium {
  width: 140px;
}

.usa-date-picker {
  * {
    animation: none;
  }

  .usa-date-picker__button {
    margin-top: 0;
  }
}

.usa-date-range-picker.grid-row {
  .usa-date-picker__button {
    padding-left: 2rem;
  }

  .usa-form-group--error {
    margin-bottom: 0;
  }
}
