label {
  max-width: 100%;
  margin: 0 0 12px;
  font-size: 17px;
  font-weight: $font-semibold;
  line-height: 1.45em;
}

label.with-hint {
  margin-bottom: 5px;
}

legend {
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: $font-semibold;
}

input[type='file'] {
  height: auto;
}

input[type='file'],
input[type='number'],
input[type='text'],
textarea,
select {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 0 2rem;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input:focus::placeholder {
  color: transparent;
}

label.validated::after {
  display: inline-block;
  width: 1.8rem;
  height: 0.8rem;
  margin-right: -1.8rem;
  margin-left: 0.2rem;
  background-image: url('./images/correct.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  content: ' ';
}

.inline-input-year {
  display: inline-block;
  width: 80px;
  margin-right: 20px;
}

.inline-input-amount {
  display: inline-block;
  width: 240px;
  margin-right: 10px;
  vertical-align: top;

  input {
    display: inline-block;
    max-width: 100px;
    margin-right: 5px;
    text-align: right;
  }

  button {
    display: inline-block;
    margin-left: 10px;
  }

  span {
    display: inline-block;
    margin-right: 5px;
  }
}
