@use '../uswds' as *;
@use '../variables' as *;

.fa-file-pdf {
  margin-right: 0.5em;
  color: color($theme-color-base-darkest);
}

button:not(.ustc-button--unstyled) .fa-file-pdf {
  color: $color-white;
}

.fa-caret-left {
  margin-right: 0.5rem;
  color: color($theme-color-primary);
}

.fa-caret-right {
  margin-left: 0.5rem;
  color: color($theme-color-primary);
}

.fa-step-forward {
  margin-right: 0.5rem;
  color: color($theme-color-primary);
  font-size: 20px;
}

.fa-step-backward {
  margin-left: 0.5rem;
  color: color($theme-color-primary);
  font-size: 20px;
}

.action-flag {
  margin-right: 0.5rem;
  color: color($theme-color-secondary);
}

.iconStatusBatched {
  color: color($theme-color-warning);
}

.iconSealed {
  margin-top: 4px;
  margin-right: -22px;
  color: color($theme-color-secondary-dark);
  float: right;
}

.iconStatusUnassigned {
  color: color($theme-color-warning);
}

.iconStatusRecalled {
  color: color($theme-color-secondary);
}

.iconStatusUnread {
  color: color($theme-color-primary);
}

.iconHighPriority {
  color: color($theme-color-secondary);
}

.fa-icon-gold {
  margin-right: 6px;
  color: color($theme-color-warning);
}

.fa-icon-blue {
  color: color($theme-color-primary);
}

.fa-icon-red {
  color: color($theme-color-secondary-dark);
}

.fa-icon-blue-vivid {
  color: color($theme-color-primary-vivid);
}

.fa-icon-white-no-margin {
  color: $color-white;
}

.fa-icon-black {
  color: color($theme-color-base-darkest);
}

.fa-icon-white {
  margin-right: 6px;
  color: $color-white;
}

.fa-file-alt {
  display: inline-block;
  margin-right: 0.5em;
  color: color($theme-color-primary);
}

.icon-list {
  .icon-item {
    display: table;
    border-spacing: 0 15px 15px 0;
  }

  .bullet-icon {
    padding-top: 4px;
    margin: 5px;
    color: $color-white;
  }

  .bullet-icon-circle {
    width: 40px;
    height: 40px;
    border: 2px solid color($theme-color-accent-cool);
    border-radius: 25px;
    background-color: color($theme-color-accent-cool);
    color: color($theme-color-accent-cool);
  }

  .bullet-icon-wrapper {
    display: table-cell;
    padding: 15px 15px 30px 0;
    text-align: center;
    vertical-align: top;
  }

  .description-wrapper {
    display: table-cell;
    padding: 0 0 30px 30px;
    font-size: 17px;
    vertical-align: middle;
  }
}

.lead-case-icon-text {
  position: absolute;
  top: 42%;
  left: 58%;
  cursor: default;
  font-size: 14px;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

.icon-sortable-header {
  transform: rotate(0.25turn) scale(0.95) translate(15%, 10%);
}

.icon-sortable-header-active {
  transform: translate(0, 15%);
}

.icon-consolidated {
  color: color($theme-color-warning);
}

.icon-upload {
  color: $color-green;
}

.icon-unread-messages {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml;utf8,<svg aria-labelledby="svg-inline--fa-title-DIDdjAjqj8je" data-prefix="fa" data-icon="circle" class="svg-inline--fa fa-circle fa-w-16 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-label="unread messages" color="gold" aria-hidden="false"><title id="svg-inline--fa-title-DIDdjAjqj8je">unread messages</title><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"/></svg>')
    20px 20px;
}

.unread-messages {
  min-width: 30px;
}

.icon-tab-notification {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding-top: 4px;
  background: url('data:image/svg+xml;utf8,<svg aria-labelledby="svg-inline--fa-title-DIDdjAjqj8je" data-prefix="fa" color="%23b50909" data-icon="circle" class="svg-inline--fa fa-circle fa-w-16 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-label="unread messages" aria-hidden="false"><title id="svg-inline--fa-title-DIDdjAjqj8je">unread messages</title><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"/></svg>');

  .icon-tab-notification-exclamation {
    position: relative;
    bottom: 10px;
    font-size: 14px;
  }
}

.icon-tab-unread-messages {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding-top: 4px;
  border: 1px solid #005ea2;
  border-color: #005ea2;
  border-radius: 50%;
  background: url('data:image/svg+xml;utf8,<svg aria-labelledby="svg-inline--fa-title-DIDdjAjqj8je" data-prefix="fa" data-icon="circle" class="svg-inline--fa fa-circle fa-w-16 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-label="unread messages" color="white" aria-hidden="false"><title id="svg-inline--fa-title-DIDdjAjqj8je">unread messages</title><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"/></svg>');

  .icon-tab-unread-messages-count {
    position: relative;
    bottom: 9px;
    color: #005ea2;
    font-family: 'Source Sans Pro', Times, serif;
    font-size: 13px;
    font-weight: 600;
  }
}

.icon-case-notes {
  margin: -5px -16px 12px 3px;
}

.active .icon-tab-notification .icon-tab-notification-exclamation {
  color: white;
}
