.fa-file-pdf {
  margin-right: 0.5em;
  color: color($theme-color-base-darkest);
}
button .fa-file-pdf {
  color: $color-white;
}

.fa-caret-left {
  margin-right: 0.5rem;
  color: color($theme-color-primary);
}

.fa-caret-right {
  margin-left: 0.5rem;
  color: color($theme-color-primary);
}

.action-flag {
  margin-right: 0.5rem;
  color: color($theme-color-secondary);
}

.iconStatusBatched {
  color: color($theme-color-warning);
}

.iconStatusUnassigned {
  color: color($theme-color-warning);
}

.iconStatusRecalled {
  color: color($theme-color-secondary);
}

.iconStatusUnread {
  color: color($theme-color-primary);
}

.fa-icon-gold {
  margin-right: 6px;
  color: color($theme-color-warning);
}

.fa-icon-blue {
  color: color($theme-color-primary);
}

.fa-file-alt {
  display: inline-block;
  margin-right: 0.5em;
  color: color($theme-color-primary);
}

.icon-list {
  margin-bottom: 20px;
  .icon-item {
    display: table;
    border-spacing: 0 15px 15px 0;
  }

  .bullet-icon {
    padding-top: 4px;
    margin: 5px;
    color: $color-white;
  }

  .bullet-icon-circle {
    width: 40px;
    height: 40px;
    border: 2px solid color($theme-color-primary-dark);
    background-color: color($theme-color-primary-dark);
    border-radius: 25px;
    color: color($theme-color-primary-dark);
  }

  .bullet-icon-wrapper {
    display: table-cell;
    padding: 0 15px 30px 0;
    text-align: center;
    vertical-align: middle;
  }

  .description-wrapper {
    display: table-cell;
    padding: 0 0 20px 0;
    vertical-align: middle;
  }
}
