.fa-file-pdf {
  margin-right: 0.5em;
  color: color($theme-color-base-darkest);
}

button:not(.ustc-button--unstyled) .fa-file-pdf {
  color: $color-white;
}

.fa-caret-left {
  margin-right: 0.5rem;
  color: color($theme-color-primary);
}

.fa-caret-right {
  margin-left: 0.5rem;
  color: color($theme-color-primary);
}

.fa-step-forward {
  margin-right: 0.5rem;
  color: color($theme-color-primary);
  font-size: 20px;
}

.fa-step-backward {
  margin-left: 0.5rem;
  color: color($theme-color-primary);
  font-size: 20px;
}

.action-flag {
  margin-right: 0.5rem;
  color: color($theme-color-secondary);
}

.iconStatusBatched {
  color: color($theme-color-warning);
}

.iconSealed {
  margin-top: 4px;
  margin-right: -22px;
  color: color($theme-color-secondary-dark);
  float: right;
}

.iconStatusUnassigned {
  color: color($theme-color-warning);
}

.iconStatusRecalled {
  color: color($theme-color-secondary);
}

.iconStatusUnread {
  color: color($theme-color-primary);
}

.iconHighPriority {
  color: color($theme-color-secondary);
}

.fa-icon-gold {
  margin-right: 6px;
  color: color($theme-color-warning);
}

.fa-icon-blue {
  color: color($theme-color-primary);
}

.fa-icon-black {
  color: color($theme-color-base-darkest);
}

.fa-icon-white {
  margin-right: 6px;
  color: $color-white;
}

.fa-file-alt {
  display: inline-block;
  margin-right: 0.5em;
  color: color($theme-color-primary);
}

.icon-list {
  margin-bottom: 20px;
  .icon-item {
    display: table;
    border-spacing: 0 15px 15px 0;
  }

  .bullet-icon {
    padding-top: 4px;
    margin: 5px;
    color: $color-white;
  }

  .bullet-icon-circle {
    width: 40px;
    height: 40px;
    border: 2px solid color($theme-color-accent-cool);
    background-color: color($theme-color-accent-cool);
    border-radius: 25px;
    color: color($theme-color-accent-cool);
  }

  .bullet-icon-wrapper {
    display: table-cell;
    padding: 15px 15px 30px 0;
    text-align: center;
    vertical-align: top;
  }

  .description-wrapper {
    display: table-cell;
    padding: 0 0 30px 0;
    font-size: 17px;
    vertical-align: middle;
  }
}

.icon-consolidated {
  color: color($theme-color-warning);
}
.icon-upload {
  color: $color-green;
}
