@use '../uswds' as *;
@use '../variables' as *;

#main-content .big-blue-header .case-detail-menu {
  .case-detail-menu__button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $color-white;
    color: color($theme-color-primary);

    &:hover {
      color: color($theme-color-primary-dark);
    }
  }

  .usa-nav__submenu {
    padding: 1rem;
    background-color: $color-white;
    box-shadow: 3px 9px 9px rgba(0 0 0 / 20%);

    .usa-nav__submenu-item {
      svg.fa-1x {
        width: 16px;
      }

      button,
      &.row-button {
        padding: 0.2rem;
        color: color($theme-color-primary);
        font-weight: $font-semibold;

        &.row-button {
          margin-top: 0;
          cursor: pointer;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      a {
        padding: 0.2rem;
        background-color: $color-white;
        color: color($theme-color-primary);
        font-size: 0.93rem;
        font-weight: $font-semibold;
      }
    }

    &.position-right-0 {
      right: 0;
    }
  }
}
