.modal-screen {
  position: fixed;
  z-index: 9500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: all;
  touch-action: auto;

  &.overlay {
    width: 100%;
    height: 100%;
    padding: 1em;
    border: 0;
    background: $color-white;
  }
}

.modal-dialog {
  position: relative;
  display: block;
  min-height: 145px;
  border-top: 10px solid color($theme-color-warning);
  margin: auto;
  background: $color-white;

  /* big screens */
  @media only screen and (min-width: $medium-screen) {
    top: 50%;
    width: 500px;
    transform: translateY(-50%);
  }
  /* little screens */
  @media only screen and (max-width: $medium-screen - 1px) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    height: 100%;

    button {
      margin-bottom: 20px;
    }
  }

  .svg-inline--fa {
    margin-right: 0;
  }
}

.app-timeout-modal {
  > .modal-header,
  .usa-button--outline {
    display: none;
  }
  padding: 60px 0;
  background-color: color($theme-color-warning);
  font-size: 30px;
  text-align: center;
}

.file-upload-status-modal {
  > .modal-header,
  .button-box-container {
    display: none;
  }

  .status-message {
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: $font-semibold;
  }

  .percent-complete {
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: $font-bold;
  }

  .progress-bar {
    width: 75%;
    height: 40px;
    margin: 5px auto;
    background: $color-white;
    border-radius: 5px;
  }

  .progress-bar-fill {
    height: 100%;
    background: $color-green;
    border-radius: 5px;
  }

  .cancel {
    > button {
      color: $color-white;
      font-size: 17px;
      font-weight: $font-semibold;
    }
  }

  width: 620px;
  max-width: 100%;
  padding: 60px 0;
  border-top: none;
  background-color: color($theme-color-primary);
  color: $color-white;
  font-family: $font-source-sans;
  font-size: 30px;
  text-align: center;
}

.file-upload-error {
  > .modal-header {
    display: none;
  }

  .uhoh {
    color: color($theme-color-base-darkest);
    font-size: 48px;
    font-weight: $font-semibold;
  }

  .message {
    width: 80%;
    margin: auto;
    color: color($theme-color-base-darkest);
    font-size: 30px;
    font-weight: $font-semibold;
  }

  button.usa-button--outline {
    background-color: color($theme-color-primary);
    color: $color-white;
  }

  padding: 60px 0;
  background-color: color($theme-color-warning);
  color: color($theme-color-base-darkest);
  font-size: 30px;
  text-align: center;
}

.mobile-document-details-overlay {
  .usa-button.heading-2.usa-button--unstyled {
    color: color($theme-color-base-darkest);
    text-decoration: none;

    svg {
      margin-right: 15px;
      font-size: 20px;
    }
  }
}

.modal-select-scanner-source {
  .button-box-container {
    display: none;
  }
}

.edit-secondary-contact-modal {
  > .modal-header {
    display: none;
  }
  min-width: 720px;
  padding: 25px;
  font-size: 17px;
}
