.ustc-header {
  /* small screens: */
  @media only screen and (max-width: $medium-screen - 1px) {
    .usa-nav-container {
      width: 100%;

      .nav-large {
        display: none;
      }

      .nav-medium {
        display: block;
      }

      .usa-navbar {
        justify-content: space-between;
      }

      .usa-logo {
        max-width: 46px;
        margin-top: 5px;
      }

      .usa-nav__primary {
        margin-top: 0;

        .usa-nav__primary-item {
          .usa-button {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-left: 1rem;
          }
        }
      }

      .usa-nav {
        width: 100%;
        background-color: $color-primary-alt-lightest;
      }

      .usa-search.ustc-search {
        margin-bottom: 20px;

        .usa-input {
          width: 200px;
          height: 34px;
        }
        .usa-button {
          &.ustc-search-button {
            min-width: 50px;
            height: 34px;
            padding-right: 20px;
          }
          .usa-search-submit-text {
            display: none;
          }
        }
        .usa-link.advanced {
          margin-top: 0.25rem;
        }
      }

      .usa-nav__close {
        width: 100px;
        font-weight: $font-semibold;
        text-decoration: none;
      }
    }
  }

  /* medium screens: */
  @media only screen and (min-width: $medium-screen) {
    .usa-nav-container {
      width: 100%;
      max-width: unset;
      padding: 0;

      .nav-large {
        display: none;
      }

      .nav-medium {
        display: block;
      }

      .ustc-navigation-items {
        flex-grow: 1;
      }

      .usa-navbar {
        width: unset;
        justify-content: space-between;
      }

      .usa-logo {
        width: 46px;
        max-width: 46px;
        margin-top: 2px;
        margin-left: 0px;
      }

      nav.ustc-nav {
        justify-content: space-between;
      }

      .usa-nav__close {
        width: 100px;
        font-weight: $font-semibold;
        text-decoration: none;
      }
    }

    .usa-search.ustc-search {
      [role='search'] {
        max-width: unset;
      }
      .usa-input {
        width: 200px;
        height: 34px;
      }
      .usa-button {
        &.ustc-search-button {
          min-width: 46px;
          height: 34px;
        }
        .usa-search-submit-text {
          display: none;
        }

        .usa-sr-only {
          display: none;
        }
      }
      .usa-link.advanced {
        display: inline-block;
        padding: 0.5em;
        color: color($theme-color-primary);
        font-size: 15px;
      }
    }
  }

  /* small and medium screens: */
  @media only screen and (max-width: $large-screen) {
    .usa-nav__submenu--open {
      .usa-nav__submenu {
        .usa-nav__submenu-item button {
          width: 100%;
          padding-left: 2rem !important;
          font-size: 0.93rem;
          text-align: left;
        }
      }
    }
  }

  /* large screens: */
  @media only screen and (min-width: $large-screen) {
    .usa-nav-container {
      .nav-large {
        display: block;
      }

      .nav-medium {
        display: none;
      }

      .usa-logo {
        width: 75px;
        max-width: 75px;
        margin-bottom: 0.5rem;
      }

      .ustc-navigation-items {
        display: block;
        .usa-nav__primary-item:not(.nav-medium) {
          display: inline-block;
        }
      }

      .usa-nav__primary-item {
        .usa-current::after,
        .usa-nav__link::after {
          height: 3px;
        }

        div + a.display-inline-block {
          display: inline-block;
        }

        .usa-nav__link:hover {
          color: color($theme-color-primary-dark);
        }

        .hidden-underline {
          &.usa-nav__link:hover::after,
          &.usa-current::after {
            display: none;
          }
        }

        .account-menu-icon {
          font-size: 25px;
        }

        &.usa-nav__submenu--open {
          background-color: color($theme-color-primary);

          .usa-nav__link,
          .usa-nav__link.usa-current {
            background-color: color($theme-color-primary);
            color: $color-white;

            .account-menu-icon {
              color: $color-white;
            }
          }

          .usa-nav__submenu {
            background-color: color($theme-color-primary);

            /* this is for buttons in submenus that should be styled the same as links in submenus */
            .usa-nav__submenu-item button {
              padding-top: 0;
              padding-bottom: 0;
              color: $color-white;
              font-weight: $font-regular;

              &:hover {
                text-decoration: underline;
              }
            }

            &.position-right-0 {
              right: 0;
              width: 110px;
              text-align: right;
            }
          }
        }

        .usa-nav__link {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          color: color($theme-color-primary);
          font-family: $font-serif;
          font-size: 20px;
          font-weight: $font-bold;
          white-space: nowrap;

          &.usa-current {
            color: color($theme-color-base-darkest);
          }
        }
      }
      .usa-search.ustc-search {
        .usa-button {
          &.ustc-search-button {
            min-width: 90px;
            height: 34px;
            background-image: none;
          }

          .usa-search-submit-text {
            display: block;
          }
        }
      }

      nav.ustc-nav {
        height: 100px;
        justify-content: space-between;
      }
    }
  }
}

.usa-search .small-search-button {
  min-width: 90px;
  background-image: none;
}

/* small screens: */
@media only screen and (max-width: $medium-screen - 1px) {
  .grid-container.no-mobile-padding {
    padding: 0;
  }
}
