.grid-container {
  max-width: 1440px;
}

.usa-header + .usa-section,
.usa-header + main {
  border: none;
}

.usa-header {
  margin-bottom: 3rem;

  .usa-logo {
    width: 100%;
    max-width: 75px;
    margin: 20px 0 0 0;

    img {
      width: 100%;
      max-height: 100%;
    }

    @media only screen and (max-width: 950px) {
      width: 35px;
      margin: 0;
    }
  }

  .usa-nav {
    border: none;
  }
}

.usa-form-group {
  margin-bottom: 25px;

  label:not(.usa-checkbox__label, .usa-radio__label) {
    margin: 0 0 5px;
  }
}

.usa-button {
  &.usa-button--unstyled {
    padding: 2px;
    margin: 0;
    &:disabled {
      color: $color-gray;
    }
  }
}
option:first-child {
  font-weight: initial;
}

.usa-form-hint {
  display: inline-block;
  margin-bottom: 15px;
  color: $color-gray;
  font-size: 15px;
  font-weight: $font-regular;
  &.ustc-form-hint-with-svg {
    position: relative;
    padding-left: 2rem;
    svg {
      position: absolute;
      top: 2px;
      left: 0;
    }
  }
}

.usa-header .usa-nav-secondary .usa-search {
  margin-top: -0.6rem;
}

.usa-alert {
  margin-bottom: 2rem;
  &.usa-alert-paragraph {
    width: unset;
    @media only screen and (min-width: $medium-screen) {
      max-width: 66ch;
    }
  }
}

.usa-nav-secondary-links li:not(:last-child)::after {
  padding-left: 0.5rem;
  color: transparent;
  content: '';
}

.usa-nav-secondary-links li {
  padding-left: 1rem;
}

.usa-section {
  padding-top: 0;
}

.usa-unstyled-list li {
  display: inline-block;
  margin-right: 30px;
}

.ustc-unstyled-list {
  padding-left: 0;
  margin-top: 0;
  list-style-type: none;

  &.without-margins {
    margin-bottom: 0px;

    li {
      margin-bottom: 0px;
    }
  }
}

.usa-memorable-date {
  label {
    margin: 0 0 5px;
    font-weight: $font-normal;
  }
}

.subsection .usa-form-group .usa-fieldset .usa-memorable-date {
  .usa-form-group--day,
  .usa-form-group--month,
  .usa-form-group--year {
    margin-bottom: 0;
  }
}

.usa-input--error {
  padding-top: unset;
  padding-bottom: 0;
  margin-top: auto;
  margin-bottom: 20px;
}

.usa-error-message {
  padding: 15px 0 0 0;
  margin: 0;
  clear: left;
  line-height: 1;
}

.usa-alert--error,
.usa-alert--success,
.usa-alert--warning {
  max-width: 700px;
  min-height: 75px;

  .usa-alert__heading {
    margin-top: 0;
    margin-bottom: 0;
  }

  .usa-alert__body {
    display: block;
  }

  .usa-alert__action {
    button {
      margin: 0;
    }
  }

  &.usa-alert-success-message-only {
    @media only screen and (min-width: $medium-screen) {
      .usa-grid-full {
        margin-top: 6px;
      }
    }
  }

  button {
    float: right;

    @media only screen and (max-width: $medium-screen - 1px) {
      width: 100%;
      padding-left: 5rem;
      text-align: left;
    }
  }

  @media only screen and (min-width: $medium-screen) {
    .usa-width-five-sixths {
      width: 80.5%;
      margin-right: 2%;
    }
    .usa-width-one-sixth {
      width: 17.5%;

      button {
        margin-top: 5px;
      }
    }
  }
}

.usa-input-error input,
.usa-input-error textarea,
.usa-input-error select {
  width: calc(100% + 1.9rem);
}

.no-bottom-margin {
  margin-bottom: 0;
}

.full-width {
  max-width: 100%;
}

@media only screen and (min-width: $medium-screen) {
  .show-on-mobile {
    display: none;
  }
}

@media only screen and (max-width: $medium-screen - 1px) {
  .hide-on-mobile {
    display: none;
  }
}
