.usa-header {
  margin-bottom: 3rem;
}

.usa-form-group {
  margin-bottom: 25px;

  label {
    margin: 0 0 5px;
  }

  option:first-child {
    font-weight: initial;
  }
}

.usa-form-hint {
  display: inline-block;
  margin-bottom: 15px;
  color: $color-gray;
  font-size: 15px;
  font-weight: $font-regular;
}

.usa-header .usa-nav-secondary .usa-search {
  margin-top: -0.6rem;
}

.usa-alert {
  margin-bottom: 2rem;
}

.usa-nav-secondary-links li:not(:last-child)::after {
  padding-left: 0.5rem;
  color: transparent;
  content: '';
}

.usa-nav-secondary-links li {
  padding-left: 1rem;
}

.usa-section {
  padding-top: 0;
}

.usa-unstyled-list li {
  display: inline-block;
  margin-right: 30px;
}

.ustc-unstyled-list {
  padding-left: 0;
  margin-top: 0;
  list-style-type: none;
}

.usa-date-of-birth {
  label {
    margin: 0 0 5px;
    font-weight: $font-normal;
  }
}

.usa-input-error {
  padding-top: unset;
  margin-top: auto;
}

.usa-input-error-message {
  padding: 0;
  margin: 10px 0 0;
  clear: left;
  line-height: 1;

  &.beneath {
    margin: 0 0 10px;
  }
  &.padded-left {
    padding-left: 10px;
  }
}

.usa-alert-error,
.usa-alert-success {
  max-width: 700px;
  min-height: 75px;

  .usa-alert-heading {
    margin-top: 0;
    margin-bottom: 0;
  }

  button {
    float: right;

    @media only screen and (max-width: $medium-screen - 1px) {
      width: 100%;
      padding-left: 5rem;
      text-align: left;
    }
  }

  @media only screen and (min-width: $medium-screen) {
    .usa-width-five-sixths {
      width: 80.5%;
      margin-right: 2%;
    }
    .usa-width-one-sixth {
      width: 17.5%;

      button {
        margin-top: 5px;
      }
    }
  }
}

.usa-input-error input,
.usa-input-error textarea,
.usa-input-error select {
  width: calc(100%);
}
