input[type='file'] {
  height: auto;
}

label {
  margin-bottom: 0.5em;
  font-weight: 700;
}

#file-a-petition .usa-button-active:disabled {
  background-color: $color-primary-darkest;
}

h1 {
  margin-bottom: 0.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
