input[type='file'] {
  height: auto;
}

input[type='text'] {
  margin: 0 0 2rem 0;
}

label {
  margin-bottom: 0.5em;
  font-weight: 700;
}

#file-a-petition .usa-button-active:disabled {
  background-color: $color-primary-darkest;
}

.usa-alert {
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 0;
}

legend {
  margin-bottom: 0.5em;
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.usa-nav-secondary-links li:not(:last-child)::after {
  padding-left: 0.5rem;
  color: transparent;
  content: '';
}

.usa-section {
  padding-top: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid $color-gray-lightest;
  margin: 2rem 0;
  padding: 0;
}

table {
  margin: 0;
}

button {
  margin: 0 1rem 2rem 0;
}
