.usa-header {
  margin-bottom: 3rem;
}

.usa-form-group {
  margin-bottom: 30px;

  label {
    margin: 0 0 12px;
  }

  option:first-child {
    font-weight: initial;
  }
}

.usa-form-hint {
  display: inline-block;
  margin-bottom: 15px;
  color: $color-gray;
  font-size: 15px;
}

.usa-header .usa-nav-secondary .usa-search {
  margin-top: -0.6rem;
}

.usa-alert {
  margin-bottom: 2rem;
}

.usa-nav-secondary-links li:not(:last-child)::after {
  padding-left: 0.5rem;
  color: transparent;
  content: '';
}

.usa-nav-secondary-links li {
  padding-left: 1rem;
}

.usa-section {
  padding-top: 0;
}

.usa-unstyled-list li {
  display: inline-block;
  margin-right: 30px;
}

.usa-date-of-birth {
  label {
    margin: 0 0 10px;
    font-weight: $font-normal;
  }
}

.usa-input-error {
  padding-top: unset;
  margin-top: auto;
}

.usa-input-error-message {
  padding: 0;
  margin: 10px 0 0;
  clear: left;
  line-height: 1;

  &.beneath {
    margin: 0 0 10px;
  }
}

.usa-alert-error,
.usa-alert-success {
  max-width: 700px;
  min-height: 75px;

  button {
    position: absolute;
    top: 6px;
    right: 6px;
  }
}

.usa-input-error input,
.usa-input-error textarea,
.usa-input-error select {
  width: calc(100%);
}
