.print-only {
  @media screen {
    display: none;
  }
  @media print {
    display: block;
  }
}
.print-view {
  * {
    -webkit-transition: none !important;
    transition: none !important;
  }

  .only-large-screens {
    display: block;
  }

  .only-small-screens {
    display: none;
  }

  .hide-on-mobile {
    display: block !important;
  }

  .responsive-table thead {
    display: table-header-group;
  }


  // view-specific overrides
  .party-information {
    [class*='grid-col'] {
      width: auto !important;
    }
  }

  .docket-record-header {
    display: none;
  }
}

@media print {
  .hide-print {
    display: none !important;
  }

  .beta {
    display: none;
  }

  .big-blue-header {
    display: none;
  }

  header {
    display: none !important;
  }

  button {
    display: none;
  }

  .title {
    display: none;
  }

  .print-header {
    text-align: center;

    .usa-logo {
      width: 100px;
      height: auto;
    }
  }

  // view-specific overrides
}
