@use '../uswds' as *;
@use '../variables' as *;

@media only print {
  .usa-banner,
  .usa-logo,
  .beta,
  .ustc-header,
  button {
    display: none !important;
  }

  .big-blue-header {
    background-color: color($theme-color-base-lightest);
    color: color($theme-color-base-ink);
    text-decoration: none;

    *,
    a {
      color: color($theme-color-base-ink);
      text-decoration: none;
    }
  }
}
