.print-only {
  @media screen {
    display: none;
  }
  @media print {
    display: block;
  }
}
.print-view {
  font-size: 10px;

  * {
    -webkit-transition: none !important;
    transition: none !important;
  }

  .only-large-screens {
    display: block;
  }

  .only-small-screens {
    display: none;
  }

  .hide-on-mobile {
    display: block !important;
  }

  table td, table th {
    padding: 8px;
    font-size: 10px !important;
    &.hide-on-mobile {
      display: table-cell !important;
    }
    &.hide-print {
      display: none !important;
    }
  }

  a {
    color: #000;
    font-weight: $font-bold;
    text-decoration: none;
  }

  .responsive-table thead {
    display: table-header-group;
  }


  // view-specific overrides
  .party-information {
    [class*='grid-col'] {
      width: auto !important;
    }

    h3 {
      font-size: 11px;
    }

    p {
      font-size: 10px;
    }

    div.grid-row>div {
      padding-right:25px;
    }
  }

  .docket-record-header {
    display: none;
  }
}

@media print {
  @page {
    margin: 0;
  }

  body {
    margin: 20px;
  }

  .hide-print {
    display: none !important;
  }

  .beta {
    display: none;
  }

  .big-blue-header {
    display: none;
  }

  header {
    display: none !important;
  }

  button {
    display: none;
  }

  .title {
    display: none;
  }

  .print-header {
    text-align: center;

    .usa-logo {
      width: 100px;
      height: auto;
      margin: 0;
    }

    h3 {
      font-weight: normal;
    }
  }

  // view-specific overrides
}
