.spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  background-image: url('./images/spinner.svg');
  background-size: contain;
}

.progress-indicator {
  .spinner {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 200px;
  }

  p {
    display: block;
    margin: auto;
    color: $color-white;
    font-size: 6rem;
    text-align: center;
  }
}
