.spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  background-image: url('./images/spinner.svg');
  background-size: contain;
}

.progress-container {
  max-width: 50rem;
  height: 2rem;
  border: 1px solid black;
  background-color: transparent;
  transition: all 2s;
}

.progress-bar {
  max-width: 100%;
  height: 100%;
  background-color: $color-primary-darkest;
  transition: all 2s;
}

.progress-indicator {
  .spinner {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 200px;
  }

  p {
    display: block;
    margin: auto;
    color: $color-white;
    font-size: 6rem;
    text-align: center;
  }
}

.modal-screen {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-screen {
  .modal-dialog {
    display: block;
    width: 400px;
    height: 191px;
    padding: 3rem;
    margin: auto;
    margin-top: 200px;
    background: $color-white;

    button {
      width: 150px;
    }
  }
}
