@use '../uswds' as *;
@use '../variables' as *;

.loading-overlay {
  position: fixed;
  z-index: 9600;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 80%);
  inset: 0 0 0 0;
  pointer-events: all;
  touch-action: auto;
}

.progress-indicator {
  &.show-wait-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
  }

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    color: color($theme-color-base-light);
  }
}

.progress-batch-download,
.progress-user-contact-edit {
  width: 100%;
  font-weight: bold;

  .progress-bar {
    width: 400px;
    height: 40px;
    border: 1px solid color($theme-color-base);
    border-radius: 5px;
  }

  .progress-text {
    margin-left: 0.5em;
    line-height: 2em;
  }

  .status-message {
    color: color($theme-color-primary);
    font-size: 24px;
    font-weight: bold;
    text-align: left;
  }
}

* {
  animation: fadein 0.1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
