@use '../uswds' as *;
@use '../variables' as *;

.header-public {
  @media only screen and (max-width: $large-screen) {
    margin-bottom: 44px;
  }

  @media only screen and (max-width: $medium-screen) {
    margin-bottom: 0;
  }

  .usa-navbar {
    display: flex;
    width: 100% !important;
    flex-flow: row nowrap;
    align-items: flex-start;
    border-bottom: none !important;

    .usa-logo {
      margin-top: 0;
    }

    .header-welcome-public {
      margin-left: 10px;
      line-height: 2em;

      @media only screen and (max-width: $medium-screen) {
        display: none;
      }

      @media only screen and (width <= 1150px) {
        font-size: 26px;
        line-height: 2.8em;
      }

      @media only screen and (width <= 1000px) {
        font-size: 18px;
        line-height: 4.3em;
      }

      @media only screen and (width <= 750px) {
        font-size: 14px;
        line-height: 5.3em;
      }
    }

    .login-container, .create-container {
      margin-top: 25px;
      margin-left: auto;
      color: color($theme-color-primary);

      .account-menu-icon {
        font-size: 25px;
      }

      @media only screen and (max-width: $medium-screen) {
        display: none;
      }

      &.mobile {
        display: none;

        @media only screen and (max-width: $medium-screen) {
          display: block;
          margin-top: 0;
        }
      }
    }

		.create-container {
			margin-left: unset;

			&.mobile {
				padding-left: 2px;
			}
		}
  }
}
