.ustc-ui-tabs {

  ul {
    padding-left: 0px;
    border-bottom: 1px solid color($theme-color-base-lighter);
    list-style-type: none;

    li {
      display: inline-block;

      button {
        position: relative;
        top: 2px;
        padding: 0px;
        border: none;
        margin-right: 45px;
        color: color($theme-color-primary);
        cursor: pointer;
        font-family: $font-serif;
        font-size: 32px;
        font-weight: bold;
        text-align: left;

        &:hover {
          border-bottom: 3px solid color($theme-color-primary-darker);
          background-color: none;
          color: color($theme-color-primary-darker);
        }

        &:focus {
          outline: 0;
        }
      }

      &.active {
        button {
          border-bottom: 3px solid color($theme-color-primary);
          color: color($theme-color-base-darkest);

          &:hover {
            border-bottom: 3px solid color($theme-color-primary-darker);
            color: color($theme-color-primary-darker);
          }
        }
      }
    }
  }

  &.no-full-border-bottom {
    ul {
      border-bottom: none;
    }
  }

  &.container-tabs {
    nav {
      border-bottom: 2px solid color($theme-color-base-lighter);

      ul {
        margin: 0px;
        
        li {
          border-right: 1px solid color($theme-color-base-lighter);
          margin-right: 0px;

          button {
            padding-top: 10px;
            padding-right: 30px;
            padding-bottom: 15px;
            padding-left: 30px;
            border-bottom: 2px solid color($theme-color-base-lighter);
            margin-right: 0px;
            font-size: 17px;

            &:hover {
              border-bottom: 2px solid color($theme-color-base-lighter);
              background-color: none;
              color: color($theme-color-primary-darker);

              span {
                border-bottom: 3px solid color($theme-color-primary-darker);
              }
            }

            span {
              padding-bottom: 12px;
            }
          }

          &.active {
            background-color: $color-primary-alt-lightest;

            button {
              border-bottom: 2px solid $color-primary-alt-lightest;
              background-color: $color-primary-alt-lightest;

              &:hover {
                color: color($theme-color-primary-darker);
              }

              span {
                border-bottom: 3px solid color($theme-color-primary);
              }
            }
          }
        }
      }
    }
  }
}


// .queue-tab-container {
//   border: 1px solid color($theme-color-base-lighter);
//   background-color: color($theme-color-base-lightest);

//   .queue-tab {
//     display: inline-block;
//     box-sizing: border-box;
//     padding: 1rem 2rem;
//     margin: 0;
//     border-radius: 0;
//     font-family: $font-serif;
//     font-size: 20px;
//     font-weight: 500;
//     line-height: 1.3em;

//     &.selected,
//     &[aria-selected='true'] {
//       background-color: $color-white;
//       box-shadow: 0 2px 0 $color-white;
//       font-weight: $font-bold;
//     }
//   }
// }

// nav.horizontal-tabs,
// .horizontal-tabs > nav {
//   margin-bottom: 20px;

//   ul {
//     padding: 0;
//     margin: 0;
//   }

//   li {
//     display: inline-block;
//     margin: 0;

//     button {
//       padding-bottom: 10px;
//       border-bottom: 3px $color-white solid;
//       margin: 0 45px 0 0;
//       border-radius: 0;
//       color: color($theme-color-primary);
//       cursor: pointer;
//       font-family: $font-serif;
//       font-size: 24px;
//       font-weight: $font-medium;
//       line-height: 1.3em;
//     }
//   }

//   li.active button {
//     border-bottom: 3px color($theme-color-primary) solid;
//     cursor: default;
//     font-weight: $font-bold;
//   }

//   li button:hover {
//     border-bottom: 3px color($theme-color-primary-darker) solid;
//     color: color($theme-color-primary-darker);
//   }
// }

// .horizontal-tabs-header3 {
//   li {
//     button {
//       margin: 0 30px 0 0;
//       color: color($theme-color-primary);
//       font-size: 20px;
//       text-align: left;
//     }
//   }

//   li.active button {
//     border-bottom: 3px color($theme-color-primary) solid;
//   }
// }

// // .ustc-ui-tabs.classic-horizontal-header3 > nav ul li button {
// //   color: color($theme-color-primary);
// // }

// .tab-content {
//   padding: 2rem;
//   border: 2px solid color($theme-color-base-lightest);

//   h3 {
//     margin-bottom: 3rem;
//   }
// }

// .tab-border nav {
//   border-bottom: 3px solid color($theme-color-base-lightest);
// }

// .ustc-ui-tabs {
//   position: relative;

//   > nav {
//     margin-bottom: 40px;

//     ul {
//       padding: 0;
//       margin: 0;

//       li {
//         display: inline-block;
//         margin: 0;

//         @media only screen and (min-width: $medium-screen) {
//           button {
//             padding-bottom: 10px;
//             margin: 0 45px 0 0;
//             border-radius: 0;
//             cursor: pointer;

//             &:hover {
//               background-color: transparent;
//               color: color($theme-color-primary-darker);
//             }
//           }

//           &.active {
//             button {
//               cursor: default;
//               font-weight: $font-bold;
//             }
//           }
//         }
//       }
//     }
//   }

//   &.classic-horizontal,
//   &.classic-horizontal-header3 {
//     > nav > ul > li {
//       display: inline-block;
//       width: 100%;
//       @media only screen and (min-width: $medium-screen) {
//         width: unset;
//       }
//     }

//     &.ustc-num-tabs-2 > nav > ul > li {
//       width: 50%;
//       @media only screen and (min-width: $medium-screen) {
//         width: unset;
//       }
//     }

//     /* small screens */
//     @media only screen and (max-width: $medium-screen - 1px) {
//       > nav {
//         ul {
//           li {
//             button {
//               width: 100%;
//               min-height: 40px;
//               border: 1px solid color($theme-color-base-lighter);
//               background-color: transparent;
//               border-radius: 5px;
//               color: color($theme-color-primary);
//               font-family: $font-serif;
//               font-style: normal;
//               &:hover {
//                 border: 1px solid color($theme-color-base-lighter);
//               }
//             }
//             &.active {
//               button {
//                 background-color: color($theme-color-primary-dark);
//                 color: $color-white;
//               }
//             }
//           }
//         }
//       }
//     }
//   }

//   @media only screen and (min-width: $medium-screen) {
//     &.classic-horizontal,
//     &.classic-horizontal-header3 {
//       > nav {
//         ul {
//           position: relative;
//           top: 2px;
//           margin-top: -2px;

//           li {
//             &.active {
//               button {
//                 border-bottom: 3px color($theme-color-primary) solid;
//               }
//             }

//             button {
//               padding-bottom: 10px;
//               border: none;
//               margin: 0 45px 0 0;
//               border-radius: 0;
//               font-family: $font-serif;
//               font-size: 24px;
//               font-weight: $font-bold;
//               line-height: 1.3em;

//               &:hover {
//                 border-bottom: 3px solid color($theme-color-primary-dark) ;
//                 color: color($theme-color-primary-dark);
//               }
              
//               &.large {
//                 font-size: 32px;
//               }
//             }
//           }
//         }
//       }
//     }
//   }

//   &.container-tabs {
//     border: 1px solid color($theme-color-base-lighter);
//     > nav {
//       border-bottom: 2px solid color($theme-color-base-lighter);
//       background-color: color($theme-color-base-lightest);

//       ul {
//         li {
//           button {
//             display: inline-block;
//             box-sizing: border-box;
//             padding: 1rem 2rem;
//             margin: 0;
//             border-radius: 0;
//             font-family: $font-serif;
//             font-size: 20px;
//             font-weight: 500;
//             line-height: 1.3em;

//             &:hover {
//               color: color($theme-color-primary-darker);
//             }
//           }

//           &.active {
//             button {
//               background-color: $color-white;
//               box-shadow: 0 2px 0 $color-white;
//             }
//           }
//         }
//       }
//     }
//   }

//   &.subsection-container-tabs {
//     * {
//       animation: none;
//     }

//     > nav {
//       border: 1px solid color($theme-color-base-lighter);
//       margin-bottom: 0;
//       background-color: color($theme-color-base-lightest);

//       ul {
//         li {
//           button {
//             display: inline-block;
//             box-sizing: border-box;
//             padding: 1rem 2rem;
//             margin: 0;
//             border-radius: 0;
//             font-family: $font-serif;
//             font-size: 20px;
//             font-weight: 500;
//             line-height: 1.3em;

//             &:hover {
//               color: color($theme-color-primary-darker);
//             }
//           }

//           &.active {
//             button {
//               background-color: $color-white;
//               box-shadow: 0 2px 0 $color-white;
//             }
//           }
//         }
//       }
//     }
//   }

//   > .fix-top-right {
//     @media only screen and (min-width: $medium-screen) {
//       position: absolute;
//       top: 4px;
//       right: 0px;
//       margin: 0px;
//     }
//   }
// }
