$font-path: '../node_modules/uswds/dist/fonts';
$image-path: '../node_modules/uswds/dist/img';
$site-max-width: 1440px;

$font-bold: 700;
$font-source-sans: 'Source Sans Pro', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-normal: 400;
$font-regular: 400;
$font-semibold: 600;
$font-serif: 'Noto Serif';

$small-screen: 576px;
$medium-screen: 768px;

/* custom colors */
$color-primary-alt: #61e5ff;
$color-primary-alt-lightest: #f1f9fc;
$color-white: #fff;
$color-green: #538200;
