$font-path: '../node_modules/uswds/dist/fonts';
$image-path: '../node_modules/uswds/dist/img';
$site-max-width: 1440px;

$font-serif: 'Noto Serif JP';
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

$color-primary-alt-lightest: #f1f9fc;
