.order-court-header {
  margin-bottom: 30px;
  line-height: 160%;
  text-align: center;

  h1 {
    margin-bottom: 0;
    font-family: 'old_english_fiveregular', serif;
    font-size: 26px;
    font-weight: bold;
  }

  .court-address {
    font-size: 13px;
  }
}
