html {
  // to ensure background-colors display in pdf
  -webkit-print-color-adjust: exact;
}

body {
  font-family: sans-serif;
  font-size: 12px;

  .page-container {
    position: relative;

    .margin-top-80 {
      margin-top: 80px;
    }

    .margin-bottom-20 {
      margin-bottom: 20px;
    }

    .float-left {
      float: left;
    }

    .float-right {
      float: right;
    }

    .text-center {
      text-align: center;
    }

    .width-third {
      width: 33%;
    }

    .width-half {
      width: 50%;
    }

    h1,
    h2 {
      font-family: serif;
    }

    h2 {
      font-weight: normal;
    }

    .page-header {
      min-height: 100px;
    }

    .logo {
      position: absolute;
      top: 0px;
      height: 100px;
      width: 100px;
    }

    .min-height-100 {
      min-height: 100px;
    }

    .clear {
      clear: both;
    }

    .link {
      text-decoration: underline;
    }

    .info-box {
      margin-bottom: 20px;
      border: 1px solid #d6d7d9;

      h3 {
        background-color: #f1f1f1;
        border-bottom: 1px solid #d6d7d9;
        padding: 10px;
        margin-bottom: 0;
        margin-top: 0;
      }

      p {
        padding: 10px;
        margin: 0;
      }
    }

    table {
      width: 100%;
      margin-top: 0.75in;
      border: 1px solid #ccc;
      -webkit-border-horizontal-spacing: 0px;
      border-spacing: 0;
      -webkit-border-vertical-spacing: 0px;
      border-collapse: collapse;
    }

    th,
    td {
      border-bottom: 1px solid #ccc;
      text-align: left;
      vertical-align: top;
    }

    td {
      padding: 12px 8px;
      line-height: 13px;
      vertical-align: top;
    }

    th {
      padding: 8px 10px 10px 8px;
      white-space: nowrap;
      background-color: #f0f0f0;
    }
  }

  .no-wrap {
    white-space: nowrap;
  }

  .address {
    position: absolute;
    left: 0.5in;
    bottom: 0.25in;
  }

  .docket {
    padding-left: 0.5in;
  }
}

@page {
  margin: 2cm 1cm;
  size: 8.5in 11in;
}
@page :first {
  margin-top: 1cm;
  margin-bottom: 2cm;
}
