web-client/.nyc_output
web-client/.scannerwork
web-client/.sonar-cache
web-client/coverage
web-client/dist
web-client/node_modules
web-client/terraform/main/.terraform
web-client/terraform/common/.terraform
efcms-service/node_modules
efcms-service/.dynamodb
efcms-service/.nyc_output
efcms-service/.serverless
efcms-service/coverage
efcms-service/terraform/main/.terraform
management/management/.terraform
web-client
.git