web-client/.nyc_output
web-client/.scannerwork
web-client/.sonar-cache
web-client/coverage
web-client/dist
web-client/dist-public
web-client/node_modules
web-client/terraform/main/.terraform
web-client/terraform/common/.terraform
web-api/node_modules
web-api/.dynamodb
web-api/.nyc_output
web-api/.serverless
web-api/coverage
web-api/dist
web-api/.cache
web-api/terraform/main/.terraform
shared/node_modules
shared/coverage
management/management/.terraform
.git
.serverless
.elasticsearch
docs
node_modules
