
.cache/
.DS_Store
.dynamodb/
.elasticsearch/
.idea/
.nova/
.scannerwork/
.terraform.lock.hcl
.terraform/
.vscode/*
!.vscode/launch.json
**/*_.js
*.iml
shared/src/business/utilities/htmlGenerator/index.scss
/policy.json
artillery/private-app-report.json
artillery/tokens.csv
artillery/token-ids.csv
artillery/private-advanced-order.json
aws.json
aws/lambdas/*.zip
aws/lambdas/RotateInfoIndices/dist
coverage/
cypress/downloads
cypress/**/screenshots
cypress/**/videos
dist-public/
dist/
gen.conf
graph-generators/*.jpg
graph-generators/node_modules/
lambda-policy.json
node_modules/
parcel-debug-*
proxy-request-times.json
puppeteer_lambda_layer.tar.gz
puppeteer_lambda_layer.zip
reports/test-reporter.xml
scripts/env/defaults
shared/coverage
shared/pdf-tests/*.html
terraform-cache/
web-api/bulk-import-log.txt
web-api/runtimes/clamav/bin
web-api/runtimes/clamav/clamav_lambda_layer.tar.gz
web-api/runtimes/clamav/clamav_lambda_layer.zip
web-api/runtimes/clamav/lib
web-api/storage/fixtures/efcms-export.json
web-api/storage/s3/*
web-api/terraform/main/new-policy.json
web-api/terraform/template/lambdas/*.zip
web-api/workflow-terraform/*/main/lambdas/*.zip
web-api/workflow-terraform/*/main/execution-plan
web-client/.cache/
web-client/coverage-e2e
web-client/coverage-integration/*
web-client/coverage-unit/*
web-client/pa11y/pa11y-screenshots/*.png
web-client/reports
web-client/terraform/common/cloudfront-edge/header-security-lambda.js.zip
web-client/terraform/common/cloudfront-edge/strip-basepath-lambda.js.zip
web-client/tests_output/
web-client/integration-tests/test-output/
bulk-import-log.txt
**/.env
**/*.env
!**/*example.env
metadata.json
metadata-public.json
stats.html
other/
.cognito/db/local_2pHzece7.json