.check-list {
  list-style-type: none;
  li {
    position: relative;
    margin-bottom: 10px;

    label {
      display: block;
    }

    input {
      position: absolute;
      top: 4px;
      left: -20px;
      margin-right: 10px;
    }
  }
}
