.clear {
  clear: both;
}

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

.mr-1 {
  margin-right: 10px;
}

.no-wrap {
  white-space: nowrap;
}
