.card {
  border: 1px solid #ccc;
  margin: 12px 0 12px 0;
  font-size: 13px;
}

.card-header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background: #f0f0f0;
  font-size: 13px;
  font-weight: bold;
}

.card-content {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}
