body {
  margin: 35px 50px;
  font-family: 'nimbus_roman', sans-serif;
}

@page {
  margin: 1.5cm 1cm 2cm 1cm;
  size: 8.5in 11in;
}

@page :first {
  margin-top: 0;
  margin-bottom: 2.5cm;
}

@page narrow {
  margin: 1.5cm 0 2cm 0;
  size: 8.5in 11in;
}

@page narrow:first {
  margin: 0;
  margin-bottom: 2.5cm;
}

.margin-left-2 {
  margin-left: 1rem;
}

.docket-number-with-icon {
  display: flex;
  flex-direction: row;
}

.wrap-text-content {
  word-break: break-word;
}

.blank-note-row {
  td {
    height: 0.5rem;
    border-top: none;
  }
}
