.clear {
  clear: both;
}

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

.mr-1 {
  margin-right: 10px;
}

.no-wrap {
  white-space: nowrap;
}

.width-third {
  width: 33%;
}

.width-half {
  width: 49%;
}

.width-100 {
  width: 100px;
}

.width-250 {
  width: 250px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.float-left {
  float: left;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.indent-paragraph {
  text-indent: 15px;
}

.text-normal {
  font-weight: normal;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

ol {
  &.inline-ol {
    padding-left: 1em;
    margin-left: 0;
  }
}

.pl-1 {
  padding-left: 7px;
}

.stamp-box {
  position: absolute;
  top: 630px;
  right: 25px;
  width: 90%;
  max-width: 90%;
  padding: 10px;
  border: solid 1px black;
  text-align: center;
}

.font-sans-2xs {
  font-size: 14.9px;
}

.font-sans-xs {
  font-size: 16px;
}

.font-sans-lg {
  font-size: 23.4px;
}

.text-ls-1 {
  letter-spacing: 0.05em;
}

.narrow-hr {
  width: 30%;
  margin: 10px auto;
}

#stamp-signature {
  font-family: 'Times New Roman', Times, serif;
}

#stamp-text {
  font-family: 'nimbus_sans_l', sans-serif;
}
