doctype html
html(lang="en")
  head
    base(href="/")
    meta(charset="utf-8")
    meta(revision="" + (process.env.CIRCLE_SHA1 || '').substr(0,7))
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="robots" content="noindex")
    title U.S. Tax Court Electronic Filing and Case Management System
  body
    #app-public
    #modal-root
    footer#last-deployed.grid-container.position-fixed.bottom-0.right-0.hide
      p Deployed #{(new Date()).toLocaleString('en-US', {weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', timeZone: 'America/New_York'})} EST    
