$font-path: '../node_modules/uswds/dist/fonts';
$image-path: '../node_modules/uswds/dist/img';
$font-serif: 'Noto Serif JP';

@import '../node_modules/uswds/src/stylesheets/uswds.scss';
@import './styles/overrides.scss';
@import './styles/custom.scss';
@import './styles/responsive-table.scss';
