doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(built="" + Date())
    meta(revision="" + process.env.GIT_COMMIT)
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title U.S. Tax Court Electronic Filing and Case Management System
    link(rel="preload" as="font" type="font/woff2" href="fonts/noto-serif-jp-v4-latin-400.woff2")
    link(rel="preload" as="font" type="font/woff2" href="fonts/noto-serif-jp-v4-latin-500.woff2")
    link(rel="preload" as="font" type="font/woff2" href="fonts/noto-serif-jp-v4-latin-600.woff2")
    link(rel="preload" as="font" type="font/woff2" href="fonts/noto-serif-jp-v4-latin-700.woff2")
    link(rel="preload" as="font" type="font/woff2" href="fonts/sourcesanspro-600.woff2")
    link(rel="stylesheet" href="index.scss")
  body
    #app
    #modal-root
    script(src="index." + process.env.USTC_ENV + ".js")
