doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(built="" + Date())
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title U.S. Tax Court Electronic Filing and Case Management System
    link(rel="stylesheet" href="index.scss")
  body
    #app(tabindex="-1")
    script(src="index." + process.env.USTC_ENV + ".js")
