doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(built="" + (new Date()).toLocaleString('en-US', {weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', timeZone: 'America/New_York'}) + " EST")
    meta(revision="" + (process.env.GIT_COMMIT.substr(0,7)))
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title U.S. Tax Court Electronic Filing and Case Management System
    link(rel="stylesheet" href="index.scss")
  body
    #app
    #modal-root
    script(src="index." + process.env.USTC_ENV + ".js")
