@layer theme, components, utilities;
@import "tailwindcss/theme.css" layer(theme) prefix(tw);
@import "tailwindcss/utilities.css" layer(utilities) prefix(tw);
@import "tw-animate-css";


:root {
  --background: rgb(255 255 255 / 100%);
  --foreground: rgb(37 37 37 / 100%);
  --card: rgb(255 255 255 / 100%);
  --card-foreground: rgb(37 37 37 / 100%);
  --popover: rgb(255 255 255 / 100%);
  --popover-foreground: rgb(37 37 37 / 100%);
  --primary: rgb(0 94 162 / 100%);
  --primary-darker: rgb(22 46 81 / 100%);
  --primary-dark: rgb(26 68 128 / 100%);
  --primary-foreground: rgb(255 255 255 / 100%);
  --secondary: rgb(248 248 248 / 100%);
  --secondary-foreground: rgb(52 52 52 / 100%);
  --muted: rgb(248 248 248 / 100%);
  --muted-foreground: rgb(142 142 142 / 100%);
  --accent: rgb(248 248 248 / 100%);
  --accent-foreground: rgb(52 52 52 / 100%);
  --destructive: rgb(196 65 44 / 100%);
  --destructive-dark: rgb(181 9 9 / 100%);
  --destructive-darker: rgb(139 19 3 / 100%);
  --destructive-foreground: rgb(185 58 33 / 100%);
  --border: rgb(235 235 235 / 100%);
  --input: rgb(235 235 235 / 100%);
  --ring: rgb(36 145 255 / 100%);
  --chart-1: rgb(208 118 50 / 100%);
  --chart-2: rgb(71 156 185 / 100%);
  --chart-3: rgb(60 76 152 / 100%);
  --chart-4: rgb(151 200 65 / 100%);
  --chart-5: rgb(206 184 57 / 100%);
  --radius: 0.625rem;
  --sidebar: rgb(250 250 250 / 100%);
  --sidebar-foreground: rgb(37 37 37 / 100%);
  --sidebar-primary: rgb(52 52 52 / 100%);
  --sidebar-primary-foreground: rgb(250 250 250 / 100%);
  --sidebar-accent: rgb(248 248 248 / 100%);
  --sidebar-accent-foreground: rgb(52 52 52 / 100%);
  --sidebar-border: rgb(235 235 235 / 100%);
  --sidebar-ring: rgb(181 181 181 / 100%);
  --blue-accent: rgb(0 189 227 / 100%);
  --blue-lightest: rgb(231 246 248 / 100%);
  --yellow-warning: rgb(255 190 46 / 100%);
  --yellow-lighter: rgb(250 243 209 / 100%);
  --red-primary: rgb(216 57 51 / 100%);
  --red-error: rgb(244 227 219 / 100%);
  --green: rgb(46 133 64 / 100%);
  --green-success: rgb(231 244 228 / 100%);
  --grey-light: rgb(169 174 177 / 100%);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-darker: var(--primary-darker);
  --color-primary-dark: var(--primary-dark);
  --color-primary-foreground: var(--primary-foreground);
  --color-tertiary-darker: var(--tertiary-darker);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-dark: var(--destructive-dark);
  --color-destructive-darker: var(--destructive-darker);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-blue-accent: var(--blue-accent);
  --color-blue-lightest: var(--blue-lightest);
  --color-yellow-warning: var(--yellow-warning);
  --color-yellow-lighter: var(--yellow-lighter);
  --color-red-primary: var(--red-primary);
  --color-red-error: var(--red-error);
  --color-green: var(--green);
  --color-green-success: var(--green-success);
  --color-grey-light: var(--grey-light);
  --breakpoint-xs: 30rem;
}


@theme {
  --spacing: 4px;
}