#document-notice-of-receipt {
  .court-stamp {
    position: absolute;
    right: 0.5in;
    bottom: 0;
  }

  .info-box-content {
    font-size: 12px;
    line-height: 15px;
  }

  .info-box {
    border: 1px solid #ccc;
    margin: 15px 0 30px 0;
  }

  .info-box p {
    line-height: 18px;
  }

  .info-box-header {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    background: #f0f0f0;
    font-weight: bold;

    p {
      margin: 0;
    }
  }

  .info-box-content {
    padding: 10px;
  }

  .info-box-trial {
    width: 49%;
    height: 160px;
    margin-right: 1%;
    float: left;
  }

  .info-box-judge {
    width: 49%;
    height: 160px;
    float: right;
  }
}
