.order-pdf {
  font-family: 'Century Schoolbook Std', serif;

  .order-court-header {
    text-align: center;
    margin-bottom: 30px;

    h1 {
      font-family: 'old_english_fiveregular', serif;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 0;
    }

    .court-address {
      font-size: 13px;
    }
  }

  .order-docket-header #caption,
  #case-caption {
    width: 49%;
    float: left;
  }

  .order-docket-header #caption {
    border-right: 1px dashed;
    font-size: 14px;
    line-height: 18px;

    &.border-none {
      border: none;
    }

    #caption-extension,
    #caption-v,
    #caption-respondent {
      padding-left: 25%;
      margin-top: 8px;
    }

    #caption-commissioner {
      margin-top: 8px;
    }
  }

  .order-docket-header .space {
    margin-left: 95px;
  }

  .order-docket-header #docket-number {
    width: 48%;
    margin-top: 50px;
    float: right;
    font-size: 14px;
    text-indent: 5px;

    &.condensed {
      margin-top: 0;
    }
  }

  .document-title {
    font-size: 16px;
    text-decoration: underline;
    margin-top: 30px;
    text-align: center;
  }

  #order-content {
    font-size: 16px;
    text-align: justify;

    p {
      line-height: 20px;
    }

    #order-signature {
      font-size: 16px;
      line-height: 15px;
    }
  }
}
