#document-docket-record {
  .party-info {
    margin: 12px 0 12px 0;
  }

  .party-info-header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: #f0f0f0;
    font-size: 14px;
    font-weight: bold;
  }

  .party-details {
    width: 25%;
  }

  .docket-record-table {
    margin-top: 30px;
  }

  .practitioner-contact {
    min-height: 50px;
    margin-top: 0;
  }
}
