.minute-sheet-pdf {
  font-family: 'nimbus_roman', serif;
  font-size: 14px;

  h2 {
    font-size: 25px;
    font-weight: bold;
  }

  .minute-sheet-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .minute-sheet-section > div {
    width: 48%;
  }

  .exhibits-table {
    margin-top: 2rem;
  }
}

// TODO 10419: confirm what font size we're using for body of PDF, consider setting it explictly here?
// TODO 10419: We should take seal and Old Englinsh header from Order generator, the rest of font sizes are now specified in figma
