#notice-of-trial-pdf {
  .notice-of-trial-title {
    margin-bottom: 0;
  }

  .info-box-content {
    padding: 10px;
  }

  p {
    font-size: 14px;
    line-height: 15px;
  }

  #notice-body > p {
    margin-top: 0;
  }

  #docket-header {
    .document-title {
      margin-bottom: 0;
    }
  }
}
