.order-pdf {
  font-family: 'Century Schoolbook Std', serif;

  .document-title {
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
  }

  #order-content {
    font-size: 16px;
    text-align: left;

    p {
      line-height: 20px;
    }

    ol ol {
      list-style-type: lower-alpha;
    }

    // ul, ul ul {
    //   list-style: inside disc;
    // }

    #order-signature {
      font-size: 16px;
      line-height: 15px;
    }
  }
}
