.petition-pdf {
    margin: 0 -25px;
    
    ol {
        padding-left: 0;
        margin-left: 0;
        list-style-position: inside;

        li {
            margin-top: 4px;
            margin-bottom: 2px;

            &.list-bold {
                margin-top: 15px;
                font-weight: bold;
            }
        }
        
        ol {
            padding-left: 0;
            margin-left: 1rem;
            list-style-type: lower-alpha;
        }

        &.list-disc {
            padding-left: 0;
            margin-left: 1rem;
            list-style-type: disc;
        }
    }

    p {
        padding-left: 0;
        margin: 2px 0;
    }

    .petitioner-info {
        width: 50%;
        margin-top: 4rem;
        float: left;
      }
}
