.printable-working-copy-list {
  margin: 0 -20px;
  font-family: 'Century Schoolbook Std', serif;
  page: narrow;

  .sortActive {
    border-bottom: 1px solid black;
  }

  .align-right {
    text-align: right;
  }

  .margin-right-1 {
    margin-right: 1rem;
  }

  .padding-bottom-2 {
    padding-bottom: 10rem;
  }

  .content-row {
    td {
      border-bottom: none;
    }
  }

  .blank-note-row {
    td {
      height: 0.5rem;
      border-top: none;
    }
  }

  .border-top-0 {
    td {
      border-top: none;
    }
  }

  .card {
    border: 1px solid #ccc;
    margin: 12px 0 12px 0;
    font-size: 13px;
  }

  .card-header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: #f0f0f0;
    font-size: 13px;
    font-weight: bold;
  }

  .card-content {
    display: flex;
    align-items: flex-start;
    padding: 10px;
  }

  .filters-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .filters-selected-header {
    display: flex;
    justify-content: space-between;
  }

  .filters-selected-content {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 10px;
    row-gap: 8px;

    .filters-row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      .filter {
        width: 1.415in;
      }
    }
  }

  table {
    th,
    td {
      font-family: 'Century Schoolbook Std', serif;
      font-size: 13px;
    }
  }

  .underlined {
    border-bottom: 1px solid;
  }

  .trial-session-card {
    margin-left: 0.5rem;
  }

  .assignments-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 10px;
    row-gap: 10px;

    .assignments-row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      column-gap: 15%;

      .assignments-row-content {
        width: 3.5in;
      }
    }
  }


}
