#trial-calendar {
  .column {
    display: flex;
    flex: 1;

    .width-half {
      width: 50%;

      &:first-child {
        margin-right: 6px;
      }

      &:last-child {
        margin-left: 6px;
      }
    }
  }

  .card {
    border: 1px solid #ccc;
    margin: 12px 0 12px 0;
    font-size: 14px;
  }

  .card-header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: #f0f0f0;
    font-size: 14px;
    font-weight: bold;
  }

  .card-content {
    display: flex;
    align-items: flex-start;
    padding: 10px;
  }
  
  .wrap-text-content {
    word-break: break-word;
  }
}
