#trial-calendar {
  margin: 0 -20px;
  page: narrow;

  .column {
    display: flex;
    flex: 1;

    .width-half {
      width: 50%;

      &:first-child {
        margin-right: 6px;
      }

      &:last-child {
        margin-left: 6px;
      }
    }
  }

  .lead-consolidated-icon,
  .consolidated-icon {
    margin-top: 3px;
    margin-right: 0.3rem;
  }
}
