.please-change {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 600;
}

th,
td {
  font-size: 10px;
}

th {
  font-weight: 600;
}

.case-information #caption {
  line-height: 18px;
}

.extra-margin-top {
  margin-top: 8px;
}
