/* Folder: Blue */
$dawson-blue-primary: #005EA2;
$dawson-blue-dark: #1A4480;
$dawson-blue-darker: #162E55; 
$dawson-blue-lightest: #E7F6F8;
$dawson-blue-dockethover: #61E5FF;
$dawson-blue-accent: #00BDE3;
$dawson-blue-focus: #2491FF;
$dawson-blue-vivid: #0050D8; 
$dawson-blue-cool-light: #97D4EA; 
$dawson-blue-cool-dark: #28A0CB;
$dawson-blue-cool-darker: #07648D; 
$dawson-blue-searchbox: #E8F0FE;

/* Folder: Red */ 
$dawson-red-primary: #D83933;
$dawson-red-dark: #B50909;
$dawson-red-darker: #8B1303;
$dawson-red-vivid: #E41D3D;
$dawson-red-light: #F2938C;
$dawson-red-error: #F4E3DB;

/* Folder: Gray-scale */
$dawson-greyscale-darkest: #1B1B1B;
$dawson-greyscale-dark: #565C65;
$dawson-greyscale-base: #71767A;
$dawson-greyscale-light: #A9AEB1;
$dawson-greyscale-lighter: #DCDEE0;
$dawson-greyscale-lightest: #F0F0F0;
$dawson-greyscale-white: #FFF;

/* Folder: Yellow */
$dawson-yellow-warning: #FFBE2E;
$dawson-yellow-darker: #E5A000;
$dawson-yellow-lighter: #FAF3D1;

/* Folder: Green */ 
$dawson-green-primary: #2E8540;
$dawson-green-success: #E7F4E4; 

/* Folder: Purple */ 
$dawson-purple-visitedlink: #54278F;
