/* Folder: Blue */
$daw-blue-primary: #005EA2;
$daw-blue-dark: #1A4480;
$daw-blue-darker: #162E55; 
$daw-blue-lightest: #E7F6F8;
$daw-blue-dockethover: #61E5FF;
$daw-blue-accent: #00BDE3;
$daw-blue-focus: #2491FF;
$daw-blue-vivid: #0050D8; 
$daw-blue-cool-light: #97D4EA; 
$daw-blue-cool-dark: #28A0CB;
$daw-blue-cool-darker: #07648D; 
$daw-blue-searchbox: #E8F0FE;

/* Folder: Red */ 
$daw-red-primary: #D83933;
$daw-red-dark: #B50909;
$daw-red-darker: #8B1303;
$daw-red-vivid: #E41D3D;
$daw-red-light: #F2938C;
$daw-red-error: #F4E3DB;

/* Folder: Gray-scale */
$daw-greyscale-darkest: #1B1B1B;
$daw-greyscale-dark: #565C65;
$daw-greyscale-base: #71767A;
$daw-greyscale-light: #A9AEB1;
$daw-greyscale-lighter: #DCDEE0;
$daw-greyscale-lightest: #F0F0F0;
$daw-greyscale-white: #FFF;

/* Folder: Yellow */
$daw-yellow-warning: #FFBE2E;
$daw-yellow-darker: #E5A000;
$daw-yellow-lighter: #FAF3D1;

/* Folder: Green */ 
$daw-green-primary: #2E8540;
$daw-green-success: #E7F4E4; 

/* Folder: Purple */ 
$daw-purple-visitedlink: #54278F;
