$font-bold: 700;
$font-medium: 500;
$font-normal: 400;
$font-regular: 400;
$font-semibold: 600;
$theme-font-sans-custom-stack: 'Source Sans Pro', helvetica, arial, sans;
$theme-font-serif-custom-stack: 'Noto Serif', helvetica, arial, sans;
$font-serif: 'Noto Serif', serif;
$font-source-sans: 'Source Sans Pro', sans-serif;

/* custom colors */
$color-primary-alt: #61e5ff;
$color-primary-alt-lightest: #f1f9fc;
$color-white: #fff;
$color-green: #2e8540;
$color-success: #e7f4e4;
$color-yellow: #fdfaed;
$color-not-served: #d21b14;
$color-error: #f9dede;
$small-screen: 480px;
$medium-screen: 640px;
$large-screen: 1024px;
$custom-screen: 1355px;
$table-column-width-small: 100px;
