@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src:
    url('fonts/noto-serif-jp/noto-serif-jp-v4-latin-400.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 500;
  src:
    url('fonts/noto-serif-jp/noto-serif-jp-v4-latin-500.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 600;
  src:
    url('fonts/noto-serif-jp/noto-serif-jp-v4-latin-600.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src:
    url('fonts/noto-serif-jp/noto-serif-jp-v4-latin-700.woff2')
    format('woff2');
}

// ----------------------------------------

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src:
    url('fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src:
    url('fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src:
    url('fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2')
    format('woff2');
}
