.nyc_output/
.serverless/
coverage/
node_modules/
.terraform/
.dynamodb
storage/s3/*
dist/
.cache/
runtimes/clamav/var/
runtimes/ghostscript/share/
runtimes/ghostscript/fonts/
runtimes/clamav/clamav_lambda_layer.tar.gz
runtimes/ghostscript/ghostscript_lambda_layer.tar.gz