html {
  // to ensure background-colors display in pdf
  -webkit-print-color-adjust: exact;
}

body {
  font-family: sans-serif;
  font-size: 12px;

  .page-container {
    position: relative;
    margin: 0.5in;

    .margin-top-80 {
      margin-top: 80px;
    }

    .margin-bottom-20 {
      margin-bottom: 20px;
    }

    .float-left {
      float: left;
    }

    .float-right {
      float: right;
    }

    .text-center {
      text-align: center;
    }

    .width-third {
      width: 33%;
    }

    .width-half {
      width: 50%;
    }

    h1, h2 {
      font-family: serif;
    }

    h2 {
      font-weight: normal;
    }

    .logo {
      position: absolute;
      top: 0px;
      height: 100px;
      width: 100px;
    }

    .clear {
      clear: both;
    }

    .link {
      text-decoration: underline;
    }

    .info-box {
      margin-bottom: 20px;
      border: 1px solid #D6D7D9;

      h3 {
        background-color: #f1f1f1;
        border-bottom: 1px solid #D6D7D9;
        padding: 10px;
        margin-bottom: 0;
        margin-top: 0;
      }

      p {
        padding: 10px;
        margin: 0;
      }
    }
  }

  .address {
    position: absolute;
    top: 9.5in;
    left: 1.0in;
  }

}