doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title STANDING PRETRIAL NOTICE, U.S. Tax Court Electronic Filing and Case Management System
    style= css
  body
    .page-container
      img.logo(src=logo)
      h1.text-center United States Tax Court
      p.text-center 
        | 400 Second Street, N.W.
        br
        | Washington D.C. 20217
