name: Node.js CI - Client

on:
  pull_request:
  push:
    branches:
      - dependency-updates
      - test

jobs:
  Client:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: NPM Install
        run: npm ci --legacy-peer-dep
      - name: Test Client Unit
        run: npm run test:client:unit
