name: Create an intermediate branch to experimental3

on:
  pull_request:
    branches: [experimental3]
    type:
      - opened

jobs:
  create-intermediate-branch:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set Git config
        run: |
          git config --local user.email "michael.marcotte@ustaxcourt.gov"
          git config --local user.name "Mike Marcotte"
      - name: Create Intermediate branch
        run: |
          # Initialize variables
          destination_branch=experimental3
          feature_branch=${{ github.head_ref }}
          intermediate_branch="${feature_branch}-intermediate-to-experimental3"

          # Get Test branch
          git fetch --unshallow
          git checkout experimental3
          git pull

          # Create a copy of the destination branch
          git checkout -b "${intermediate_branch}" "${destination_branch}"

          # Merge the feature branch into the intermediate branch
          git merge "origin/${feature_branch}"

          # Push the new intermediate to remote
          git push -u origin "${intermediate_branch}"

      - name: Make PR of Intermediate branch to Test
        run: |
          # Initialize variables
          destination_branch=experimental3
          feature_branch=${{ github.head_ref }}
          pr_title="${feature_branch} intermediate to experimental3"
          pr_description="PR to experimental3."

          hub pull-request -b $destination_branch -m "$pr_title" -m "$pr_description"
