name: Node.js CI - Lint

on:
  pull_request:
  push:
    branches:
      - dependency-updates

jobs:
  Lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: NPM Install
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Shellcheck
        run: ./run-shellcheck.sh
